<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkAccountUrlconversionMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAccountUrlconversion">
    <id column="mk_account_urlconversion_code" jdbcType="VARCHAR" property="mkAccountUrlconversionCode" />
    <result column="MK_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_Advertiser_marketURl_Code" jdbcType="VARCHAR" property="mkAdvertiserMarketurlCode" />
    <result column="MK_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="MK_Advertiser_ReportingNode_Code" jdbcType="VARCHAR" property="mkAdvertiserReportingnodeCode" />
    <result column="MK_Advertiser_ReportingNode_Name" jdbcType="VARCHAR" property="mkAdvertiserReportingnodeName" />
    <result column="MK_Advertiser_redefineTarget_Code" jdbcType="VARCHAR" property="mkAdvertiserRedefinetargetCode" />
    <result column="MK_Advertiser_redefineTarget_Name" jdbcType="VARCHAR" property="mkAdvertiserRedefinetargetName" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_account_urlconversion_CreateTM" jdbcType="TIMESTAMP" property="mkAccountUrlconversionCreatetm" />
    <result column="mk_account_urlconversion_MODIFYTM" jdbcType="TIMESTAMP" property="mkAccountUrlconversionModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_account_urlconversion_code, MK_media_info_code, MK_Advertiser_marketURl_Code, 
    MK_advertiser_media_id, MK_Advertiser_ReportingNode_Code, MK_Advertiser_ReportingNode_Name, 
    MK_Advertiser_redefineTarget_Code, MK_Advertiser_redefineTarget_Name, OA_company_Account_code, 
    mk_account_urlconversion_CreateTM, mk_account_urlconversion_MODIFYTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_account_urlconversion
    where mk_account_urlconversion_code = #{mkAccountUrlconversionCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_account_urlconversion
    where mk_account_urlconversion_code = #{mkAccountUrlconversionCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAccountUrlconversion">
    insert into mk_account_urlconversion (mk_account_urlconversion_code, MK_media_info_code, 
      MK_Advertiser_marketURl_Code, MK_advertiser_media_id, 
      MK_Advertiser_ReportingNode_Code, MK_Advertiser_ReportingNode_Name, 
      MK_Advertiser_redefineTarget_Code, MK_Advertiser_redefineTarget_Name, 
      OA_company_Account_code, mk_account_urlconversion_CreateTM, 
      mk_account_urlconversion_MODIFYTM)
    values (#{mkAccountUrlconversionCode,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, 
      #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR}, #{mkAdvertiserMediaId,jdbcType=VARCHAR}, 
      #{mkAdvertiserReportingnodeCode,jdbcType=VARCHAR}, #{mkAdvertiserReportingnodeName,jdbcType=VARCHAR}, 
      #{mkAdvertiserRedefinetargetCode,jdbcType=VARCHAR}, #{mkAdvertiserRedefinetargetName,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkAccountUrlconversionCreatetm,jdbcType=TIMESTAMP}, 
      #{mkAccountUrlconversionModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAccountUrlconversion">
    insert into mk_account_urlconversion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAccountUrlconversionCode != null">
        mk_account_urlconversion_code,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_info_code,
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        MK_Advertiser_marketURl_Code,
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id,
      </if>
      <if test="mkAdvertiserReportingnodeCode != null">
        MK_Advertiser_ReportingNode_Code,
      </if>
      <if test="mkAdvertiserReportingnodeName != null">
        MK_Advertiser_ReportingNode_Name,
      </if>
      <if test="mkAdvertiserRedefinetargetCode != null">
        MK_Advertiser_redefineTarget_Code,
      </if>
      <if test="mkAdvertiserRedefinetargetName != null">
        MK_Advertiser_redefineTarget_Name,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkAccountUrlconversionCreatetm != null">
        mk_account_urlconversion_CreateTM,
      </if>
      <if test="mkAccountUrlconversionModifytm != null">
        mk_account_urlconversion_MODIFYTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAccountUrlconversionCode != null">
        #{mkAccountUrlconversionCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserReportingnodeCode != null">
        #{mkAdvertiserReportingnodeCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserReportingnodeName != null">
        #{mkAdvertiserReportingnodeName,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserRedefinetargetCode != null">
        #{mkAdvertiserRedefinetargetCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserRedefinetargetName != null">
        #{mkAdvertiserRedefinetargetName,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAccountUrlconversionCreatetm != null">
        #{mkAccountUrlconversionCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAccountUrlconversionModifytm != null">
        #{mkAccountUrlconversionModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAccountUrlconversion">
    update mk_account_urlconversion
    <set>
      <if test="mkMediaInfoCode != null">
        MK_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        MK_Advertiser_marketURl_Code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserReportingnodeCode != null">
        MK_Advertiser_ReportingNode_Code = #{mkAdvertiserReportingnodeCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserReportingnodeName != null">
        MK_Advertiser_ReportingNode_Name = #{mkAdvertiserReportingnodeName,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserRedefinetargetCode != null">
        MK_Advertiser_redefineTarget_Code = #{mkAdvertiserRedefinetargetCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserRedefinetargetName != null">
        MK_Advertiser_redefineTarget_Name = #{mkAdvertiserRedefinetargetName,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAccountUrlconversionCreatetm != null">
        mk_account_urlconversion_CreateTM = #{mkAccountUrlconversionCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAccountUrlconversionModifytm != null">
        mk_account_urlconversion_MODIFYTM = #{mkAccountUrlconversionModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_account_urlconversion_code = #{mkAccountUrlconversionCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAccountUrlconversion">
    update mk_account_urlconversion
    set MK_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_Advertiser_marketURl_Code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      MK_Advertiser_ReportingNode_Code = #{mkAdvertiserReportingnodeCode,jdbcType=VARCHAR},
      MK_Advertiser_ReportingNode_Name = #{mkAdvertiserReportingnodeName,jdbcType=VARCHAR},
      MK_Advertiser_redefineTarget_Code = #{mkAdvertiserRedefinetargetCode,jdbcType=VARCHAR},
      MK_Advertiser_redefineTarget_Name = #{mkAdvertiserRedefinetargetName,jdbcType=VARCHAR},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_account_urlconversion_CreateTM = #{mkAccountUrlconversionCreatetm,jdbcType=TIMESTAMP},
      mk_account_urlconversion_MODIFYTM = #{mkAccountUrlconversionModifytm,jdbcType=TIMESTAMP}
    where mk_account_urlconversion_code = #{mkAccountUrlconversionCode,jdbcType=VARCHAR}
  </update>
</mapper>