<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkAdvertiseragentacountStrategyMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategy">
    <id column="mk_advertiserAgentacount_strategy_id" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyId" />
    <result column="mk_advertiserAgentacount_strategy_code" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyCode" />
    <result column="mk_advertiserAgentacount_strategy_name" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyName" />
    <result column="mk_advertiserAgentacount_strategy_startDate" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyStartdate" />
    <result column="mk_advertiserAgentacount_strategy_endDate" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyEnddate" />
    <result column="mk_advertiserAgentacount_strategy_state" jdbcType="CHAR" property="mkAdvertiseragentacountStrategyState" />
    <result column="mk_advertiserAgentacount_strategy_crtDate" jdbcType="TIMESTAMP" property="mkAdvertiseragentacountStrategyCrtdate" />
    <result column="mk_advertiserAgentacount_strategy_crtUser" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyCrtuser" />
    <result column="mk_advertiserAgentacount_strategy_updUser" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyUpduser" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_advertiserAgentacount_strategy_describe" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyDescribe" />
    <result column="mk_advertiserAgentacount_strategy_accountType" jdbcType="CHAR" property="mkAdvertiseragentacountStrategyAccounttype" />
    <result column="mk_advertiserAgentacount_strategy_actDefault" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyActdefault" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_advertiserAgentacount_strategy_id, mk_advertiserAgentacount_strategy_code, mk_advertiserAgentacount_strategy_name,
    mk_advertiserAgentacount_strategy_startDate, mk_advertiserAgentacount_strategy_endDate,
    mk_advertiserAgentacount_strategy_state, mk_advertiserAgentacount_strategy_crtDate,
    mk_advertiserAgentacount_strategy_crtUser, mk_advertiserAgentacount_strategy_updUser,
    mk_media_info_code, mk_advertiserAgentacount_strategy_describe, mk_advertiserAgentacount_strategy_accountType,
    mk_advertiserAgentacount_strategy_actDefault
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mk_advertiseragentacount_strategy
    where mk_advertiserAgentacount_strategy_id = #{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_advertiseragentacount_strategy
    where mk_advertiserAgentacount_strategy_id = #{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategy">
    insert into mk_advertiseragentacount_strategy (mk_advertiserAgentacount_strategy_id, mk_advertiserAgentacount_strategy_code,
      mk_advertiserAgentacount_strategy_name, mk_advertiserAgentacount_strategy_startDate,
      mk_advertiserAgentacount_strategy_endDate, mk_advertiserAgentacount_strategy_state,
      mk_advertiserAgentacount_strategy_crtDate, mk_advertiserAgentacount_strategy_crtUser,
      mk_advertiserAgentacount_strategy_updUser, mk_media_info_code,
      mk_advertiserAgentacount_strategy_describe, mk_advertiserAgentacount_strategy_accountType,
      mk_advertiserAgentacount_strategy_actDefault)
    values (#{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyStartdate,jdbcType=VARCHAR},
      #{mkAdvertiseragentacountStrategyEnddate,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyState,jdbcType=CHAR},
      #{mkAdvertiseragentacountStrategyCrtdate,jdbcType=TIMESTAMP}, #{mkAdvertiseragentacountStrategyCrtuser,jdbcType=VARCHAR},
      #{mkAdvertiseragentacountStrategyUpduser,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR},
      #{mkAdvertiseragentacountStrategyDescribe,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyAccounttype,jdbcType=CHAR},
      #{mkAdvertiseragentacountStrategyActdefault,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategy">
    insert into mk_advertiseragentacount_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategyId != null">
        mk_advertiserAgentacount_strategy_id,
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        mk_advertiserAgentacount_strategy_code,
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        mk_advertiserAgentacount_strategy_name,
      </if>
      <if test="mkAdvertiseragentacountStrategyStartdate != null">
        mk_advertiserAgentacount_strategy_startDate,
      </if>
      <if test="mkAdvertiseragentacountStrategyEnddate != null">
        mk_advertiserAgentacount_strategy_endDate,
      </if>
      <if test="mkAdvertiseragentacountStrategyState != null">
        mk_advertiserAgentacount_strategy_state,
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtdate != null">
        mk_advertiserAgentacount_strategy_crtDate,
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtuser != null">
        mk_advertiserAgentacount_strategy_crtUser,
      </if>
      <if test="mkAdvertiseragentacountStrategyUpduser != null">
        mk_advertiserAgentacount_strategy_updUser,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiseragentacountStrategyDescribe != null">
        mk_advertiserAgentacount_strategy_describe,
      </if>
      <if test="mkAdvertiseragentacountStrategyAccounttype != null">
        mk_advertiserAgentacount_strategy_accountType,
      </if>
      <if test="mkAdvertiseragentacountStrategyActdefault != null">
        mk_advertiserAgentacount_strategy_actDefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategyId != null">
        #{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyStartdate != null">
        #{mkAdvertiseragentacountStrategyStartdate,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyEnddate != null">
        #{mkAdvertiseragentacountStrategyEnddate,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyState != null">
        #{mkAdvertiseragentacountStrategyState,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtdate != null">
        #{mkAdvertiseragentacountStrategyCrtdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtuser != null">
        #{mkAdvertiseragentacountStrategyCrtuser,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpduser != null">
        #{mkAdvertiseragentacountStrategyUpduser,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyDescribe != null">
        #{mkAdvertiseragentacountStrategyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyAccounttype != null">
        #{mkAdvertiseragentacountStrategyAccounttype,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyActdefault != null">
        #{mkAdvertiseragentacountStrategyActdefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategy">
    update mk_advertiseragentacount_strategy
    <set>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        mk_advertiserAgentacount_strategy_code = #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        mk_advertiserAgentacount_strategy_name = #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyStartdate != null">
        mk_advertiserAgentacount_strategy_startDate = #{mkAdvertiseragentacountStrategyStartdate,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyEnddate != null">
        mk_advertiserAgentacount_strategy_endDate = #{mkAdvertiseragentacountStrategyEnddate,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyState != null">
        mk_advertiserAgentacount_strategy_state = #{mkAdvertiseragentacountStrategyState,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtdate != null">
        mk_advertiserAgentacount_strategy_crtDate = #{mkAdvertiseragentacountStrategyCrtdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrtuser != null">
        mk_advertiserAgentacount_strategy_crtUser = #{mkAdvertiseragentacountStrategyCrtuser,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpduser != null">
        mk_advertiserAgentacount_strategy_updUser = #{mkAdvertiseragentacountStrategyUpduser,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyDescribe != null">
        mk_advertiserAgentacount_strategy_describe = #{mkAdvertiseragentacountStrategyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyAccounttype != null">
        mk_advertiserAgentacount_strategy_accountType = #{mkAdvertiseragentacountStrategyAccounttype,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyActdefault != null">
        mk_advertiserAgentacount_strategy_actDefault = #{mkAdvertiseragentacountStrategyActdefault,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_advertiserAgentacount_strategy_id = #{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategy">
    update mk_advertiseragentacount_strategy
    set mk_advertiserAgentacount_strategy_code = #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_name = #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_startDate = #{mkAdvertiseragentacountStrategyStartdate,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_endDate = #{mkAdvertiseragentacountStrategyEnddate,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_state = #{mkAdvertiseragentacountStrategyState,jdbcType=CHAR},
      mk_advertiserAgentacount_strategy_crtDate = #{mkAdvertiseragentacountStrategyCrtdate,jdbcType=TIMESTAMP},
      mk_advertiserAgentacount_strategy_crtUser = #{mkAdvertiseragentacountStrategyCrtuser,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_updUser = #{mkAdvertiseragentacountStrategyUpduser,jdbcType=VARCHAR},
      mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_describe = #{mkAdvertiseragentacountStrategyDescribe,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_accountType = #{mkAdvertiseragentacountStrategyAccounttype,jdbcType=CHAR},
      mk_advertiserAgentacount_strategy_actDefault = #{mkAdvertiseragentacountStrategyActdefault,jdbcType=VARCHAR}
    where mk_advertiserAgentacount_strategy_id = #{mkAdvertiseragentacountStrategyId,jdbcType=VARCHAR}
  </update>
</mapper>