<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkAdvertiserMarketurldownflagMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    <id column="mk_advertiser_marketurl_id" jdbcType="VARCHAR" property="mkAdvertiserMarketurlId" />
    <result column="mk_advertiser_marketurl_requestno" jdbcType="VARCHAR" property="mkAdvertiserMarketurlRequestno" />
    <result column="mk_advertiser_marketurl_code" jdbcType="VARCHAR" property="mkAdvertiserMarketurlCode" />
    <result column="mk_advertiser_marketurl_flag" jdbcType="VARCHAR" property="mkAdvertiserMarketurlFlag" />
    <result column="oa_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_advertiser_marketurl_createtm" jdbcType="TIMESTAMP" property="mkAdvertiserMarketurlCreatetm" />
    <result column="mk_advertiser_marketurl_modifytm" jdbcType="TIMESTAMP" property="mkAdvertiserMarketurlModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_advertiser_marketurl_id, mk_advertiser_marketurl_requestno, mk_advertiser_marketurl_code, 
    mk_advertiser_marketurl_flag, oa_company_account_code, mk_advertiser_marketurl_createtm, 
    mk_advertiser_marketurl_modifytm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_advertiser_marketurldownflag
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_advertiser_marketurldownflag
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    insert into mk_advertiser_marketurldownflag (mk_advertiser_marketurl_id, mk_advertiser_marketurl_requestno, 
      mk_advertiser_marketurl_code, mk_advertiser_marketurl_flag, 
      oa_company_account_code, mk_advertiser_marketurl_createtm, 
      mk_advertiser_marketurl_modifytm)
    values (#{mkAdvertiserMarketurlId,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR}, 
      #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP}, 
      #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    insert into mk_advertiser_marketurldownflag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiserMarketurlId != null">
        mk_advertiser_marketurl_id,
      </if>
      <if test="mkAdvertiserMarketurlRequestno != null">
        mk_advertiser_marketurl_requestno,
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        mk_advertiser_marketurl_code,
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        mk_advertiser_marketurl_flag,
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code,
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        mk_advertiser_marketurl_createtm,
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        mk_advertiser_marketurl_modifytm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiserMarketurlId != null">
        #{mkAdvertiserMarketurlId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlRequestno != null">
        #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    update mk_advertiser_marketurldownflag
    <set>
      <if test="mkAdvertiserMarketurlRequestno != null">
        mk_advertiser_marketurl_requestno = #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        mk_advertiser_marketurl_code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        mk_advertiser_marketurl_flag = #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        mk_advertiser_marketurl_createtm = #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        mk_advertiser_marketurl_modifytm = #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    update mk_advertiser_marketurldownflag
    set mk_advertiser_marketurl_requestno = #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      mk_advertiser_marketurl_code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      mk_advertiser_marketurl_flag = #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_advertiser_marketurl_createtm = #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      mk_advertiser_marketurl_modifytm = #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP}
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    <id column="mk_advertiser_marketurl_id" jdbcType="VARCHAR" property="mkAdvertiserMarketurlId" />
    <result column="mk_advertiser_marketurl_requestNo" jdbcType="VARCHAR" property="mkAdvertiserMarketurlRequestno" />
    <result column="MK_Advertiser_marketURl_Code" jdbcType="VARCHAR" property="mkAdvertiserMarketurlCode" />
    <result column="mk_advertiser_marketurl_flag" jdbcType="VARCHAR" property="mkAdvertiserMarketurlFlag" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_advertiser_marketurl_createTM" jdbcType="TIMESTAMP" property="mkAdvertiserMarketurlCreatetm" />
    <result column="mk_advertiser_marketurl_modifyTM" jdbcType="TIMESTAMP" property="mkAdvertiserMarketurlModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_advertiser_marketurl_id, mk_advertiser_marketurl_requestNo, MK_Advertiser_marketURl_Code, 
    mk_advertiser_marketurl_flag, OA_company_Account_code, mk_advertiser_marketurl_createTM, 
    mk_advertiser_marketurl_modifyTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_advertiser_marketurldownflag
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_advertiser_marketurldownflag
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    insert into mk_advertiser_marketurldownflag (mk_advertiser_marketurl_id, mk_advertiser_marketurl_requestNo, 
      MK_Advertiser_marketURl_Code, mk_advertiser_marketurl_flag, 
      OA_company_Account_code, mk_advertiser_marketurl_createTM, 
      mk_advertiser_marketurl_modifyTM)
    values (#{mkAdvertiserMarketurlId,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR}, 
      #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP}, 
      #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    insert into mk_advertiser_marketurldownflag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiserMarketurlId != null">
        mk_advertiser_marketurl_id,
      </if>
      <if test="mkAdvertiserMarketurlRequestno != null">
        mk_advertiser_marketurl_requestNo,
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        MK_Advertiser_marketURl_Code,
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        mk_advertiser_marketurl_flag,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        mk_advertiser_marketurl_createTM,
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        mk_advertiser_marketurl_modifyTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiserMarketurlId != null">
        #{mkAdvertiserMarketurlId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlRequestno != null">
        #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    update mk_advertiser_marketurldownflag
    <set>
      <if test="mkAdvertiserMarketurlRequestno != null">
        mk_advertiser_marketurl_requestNo = #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCode != null">
        MK_Advertiser_marketURl_Code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlFlag != null">
        mk_advertiser_marketurl_flag = #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMarketurlCreatetm != null">
        mk_advertiser_marketurl_createTM = #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMarketurlModifytm != null">
        mk_advertiser_marketurl_modifyTM = #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAdvertiserMarketurldownflag">
    update mk_advertiser_marketurldownflag
    set mk_advertiser_marketurl_requestNo = #{mkAdvertiserMarketurlRequestno,jdbcType=VARCHAR},
      MK_Advertiser_marketURl_Code = #{mkAdvertiserMarketurlCode,jdbcType=VARCHAR},
      mk_advertiser_marketurl_flag = #{mkAdvertiserMarketurlFlag,jdbcType=VARCHAR},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_advertiser_marketurl_createTM = #{mkAdvertiserMarketurlCreatetm,jdbcType=TIMESTAMP},
      mk_advertiser_marketurl_modifyTM = #{mkAdvertiserMarketurlModifytm,jdbcType=TIMESTAMP}
    where mk_advertiser_marketurl_id = #{mkAdvertiserMarketurlId,jdbcType=VARCHAR}
  </update>
</mapper>