<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkAdvertiseragentacountStrategychangeMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    <id column="mk_advertiseragentacount_strategyChange_id" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategychangeId" />
    <result column="mk_advertiserAgentacount_strategy_code" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyCode" />
    <result column="mk_advertiserAgentacount_strategy_name" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyName" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="mk_media_account_name" jdbcType="VARCHAR" property="mkMediaAccountName" />
    <result column="mk_media_account_type" jdbcType="CHAR" property="mkMediaAccountType" />
    <result column="mk_advertiserAgentacount_strategy_changeid" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyChangeid" />
    <result column="mk_advertiserAgentacount_strategy_updUserCode" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyUpdusercode" />
    <result column="mk_advertiserAgentacount_strategy_updUserName" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyUpdusername" />
    <result column="mk_advertiserAgentacount_strategy_crtTime" jdbcType="TIMESTAMP" property="mkAdvertiseragentacountStrategyCrttime" />
    <result column="mk_advertiserAgentacount_strategy_upTime" jdbcType="TIMESTAMP" property="mkAdvertiseragentacountStrategyUptime" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_advertiseragentacount_strategyChange_id, mk_advertiserAgentacount_strategy_code, 
    mk_advertiserAgentacount_strategy_name, mk_media_info_code, MK_advertiser_media_id, 
    mk_media_account_name, mk_media_account_type, mk_advertiserAgentacount_strategy_changeid, 
    mk_advertiserAgentacount_strategy_updUserCode, mk_advertiserAgentacount_strategy_updUserName, 
    mk_advertiserAgentacount_strategy_crtTime, mk_advertiserAgentacount_strategy_upTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_advertiseragentacount_strategychange
    where mk_advertiseragentacount_strategyChange_id = #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_advertiseragentacount_strategychange
    where mk_advertiseragentacount_strategyChange_id = #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    insert into mk_advertiseragentacount_strategychange (mk_advertiseragentacount_strategyChange_id, mk_advertiserAgentacount_strategy_code, 
      mk_advertiserAgentacount_strategy_name, mk_media_info_code, 
      MK_advertiser_media_id, mk_media_account_name, 
      mk_media_account_type, mk_advertiserAgentacount_strategy_changeid, 
      mk_advertiserAgentacount_strategy_updUserCode, mk_advertiserAgentacount_strategy_updUserName, 
      mk_advertiserAgentacount_strategy_crtTime, mk_advertiserAgentacount_strategy_upTime
      )
    values (#{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, 
      #{mkAdvertiserMediaId,jdbcType=VARCHAR}, #{mkMediaAccountName,jdbcType=VARCHAR}, 
      #{mkMediaAccountType,jdbcType=CHAR}, #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP}, #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    insert into mk_advertiseragentacount_strategychange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategychangeId != null">
        mk_advertiseragentacount_strategyChange_id,
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        mk_advertiserAgentacount_strategy_code,
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        mk_advertiserAgentacount_strategy_name,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id,
      </if>
      <if test="mkMediaAccountName != null">
        mk_media_account_name,
      </if>
      <if test="mkMediaAccountType != null">
        mk_media_account_type,
      </if>
      <if test="mkAdvertiseragentacountStrategyChangeid != null">
        mk_advertiserAgentacount_strategy_changeid,
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusercode != null">
        mk_advertiserAgentacount_strategy_updUserCode,
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusername != null">
        mk_advertiserAgentacount_strategy_updUserName,
      </if>
      <if test="mkAdvertiseragentacountStrategyCrttime != null">
        mk_advertiserAgentacount_strategy_crtTime,
      </if>
      <if test="mkAdvertiseragentacountStrategyUptime != null">
        mk_advertiserAgentacount_strategy_upTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategychangeId != null">
        #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountName != null">
        #{mkMediaAccountName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountType != null">
        #{mkMediaAccountType,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyChangeid != null">
        #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusercode != null">
        #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusername != null">
        #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrttime != null">
        #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiseragentacountStrategyUptime != null">
        #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    update mk_advertiseragentacount_strategychange
    <set>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        mk_advertiserAgentacount_strategy_code = #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        mk_advertiserAgentacount_strategy_name = #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountName != null">
        mk_media_account_name = #{mkMediaAccountName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountType != null">
        mk_media_account_type = #{mkMediaAccountType,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyChangeid != null">
        mk_advertiserAgentacount_strategy_changeid = #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusercode != null">
        mk_advertiserAgentacount_strategy_updUserCode = #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusername != null">
        mk_advertiserAgentacount_strategy_updUserName = #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrttime != null">
        mk_advertiserAgentacount_strategy_crtTime = #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiseragentacountStrategyUptime != null">
        mk_advertiserAgentacount_strategy_upTime = #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_advertiseragentacount_strategyChange_id = #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    update mk_advertiseragentacount_strategychange
    set mk_advertiserAgentacount_strategy_code = #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_name = #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      mk_media_account_name = #{mkMediaAccountName,jdbcType=VARCHAR},
      mk_media_account_type = #{mkMediaAccountType,jdbcType=CHAR},
      mk_advertiserAgentacount_strategy_changeid = #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_updUserCode = #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_updUserName = #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR},
      mk_advertiserAgentacount_strategy_crtTime = #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP},
      mk_advertiserAgentacount_strategy_upTime = #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP}
    where mk_advertiseragentacount_strategyChange_id = #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    <result column="mk_advertiseragentacount_strategychange_id" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategychangeId" />
    <result column="mk_advertiseragentacount_strategy_code" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyCode" />
    <result column="mk_advertiseragentacount_strategy_name" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyName" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="mk_media_account_name" jdbcType="VARCHAR" property="mkMediaAccountName" />
    <result column="mk_media_account_type" jdbcType="CHAR" property="mkMediaAccountType" />
    <result column="mk_advertiseragentacount_strategy_changeid" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyChangeid" />
    <result column="mk_advertiseragentacount_strategy_updusercode" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyUpdusercode" />
    <result column="mk_advertiseragentacount_strategy_updusername" jdbcType="VARCHAR" property="mkAdvertiseragentacountStrategyUpdusername" />
    <result column="mk_advertiseragentacount_strategy_crttime" jdbcType="TIMESTAMP" property="mkAdvertiseragentacountStrategyCrttime" />
    <result column="mk_advertiseragentacount_strategy_uptime" jdbcType="TIMESTAMP" property="mkAdvertiseragentacountStrategyUptime" />
  </resultMap>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    insert into mk_advertiseragentacount_strategychange (mk_advertiseragentacount_strategychange_id, mk_advertiseragentacount_strategy_code, 
      mk_advertiseragentacount_strategy_name, mk_media_info_code, 
      mk_advertiser_media_id, mk_media_account_name, 
      mk_media_account_type, mk_advertiseragentacount_strategy_changeid, 
      mk_advertiseragentacount_strategy_updusercode, mk_advertiseragentacount_strategy_updusername, 
      mk_advertiseragentacount_strategy_crttime, mk_advertiseragentacount_strategy_uptime
      )
    values (#{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, 
      #{mkAdvertiserMediaId,jdbcType=VARCHAR}, #{mkMediaAccountName,jdbcType=VARCHAR}, 
      #{mkMediaAccountType,jdbcType=CHAR}, #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR}, #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR}, 
      #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP}, #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAdvertiseragentacountStrategychange">
    insert into mk_advertiseragentacount_strategychange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategychangeId != null">
        mk_advertiseragentacount_strategychange_id,
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        mk_advertiseragentacount_strategy_code,
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        mk_advertiseragentacount_strategy_name,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiserMediaId != null">
        mk_advertiser_media_id,
      </if>
      <if test="mkMediaAccountName != null">
        mk_media_account_name,
      </if>
      <if test="mkMediaAccountType != null">
        mk_media_account_type,
      </if>
      <if test="mkAdvertiseragentacountStrategyChangeid != null">
        mk_advertiseragentacount_strategy_changeid,
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusercode != null">
        mk_advertiseragentacount_strategy_updusercode,
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusername != null">
        mk_advertiseragentacount_strategy_updusername,
      </if>
      <if test="mkAdvertiseragentacountStrategyCrttime != null">
        mk_advertiseragentacount_strategy_crttime,
      </if>
      <if test="mkAdvertiseragentacountStrategyUptime != null">
        mk_advertiseragentacount_strategy_uptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAdvertiseragentacountStrategychangeId != null">
        #{mkAdvertiseragentacountStrategychangeId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCode != null">
        #{mkAdvertiseragentacountStrategyCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyName != null">
        #{mkAdvertiseragentacountStrategyName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountName != null">
        #{mkMediaAccountName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountType != null">
        #{mkMediaAccountType,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyChangeid != null">
        #{mkAdvertiseragentacountStrategyChangeid,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusercode != null">
        #{mkAdvertiseragentacountStrategyUpdusercode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyUpdusername != null">
        #{mkAdvertiseragentacountStrategyUpdusername,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiseragentacountStrategyCrttime != null">
        #{mkAdvertiseragentacountStrategyCrttime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiseragentacountStrategyUptime != null">
        #{mkAdvertiseragentacountStrategyUptime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>