<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkAgentAccountMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkAgentAccount">
    <id column="mk_agent_account_no" jdbcType="VARCHAR" property="mkAgentAccountNo" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_media_account_id" jdbcType="VARCHAR" property="mkMediaAccountId" />
    <result column="MK_advertiser_app_id" jdbcType="VARCHAR" property="mkAdvertiserAppId" />
    <result column="MK_advertiser_media_parentId" jdbcType="VARCHAR" property="mkAdvertiserMediaParentid" />
    <result column="MK_advertiser_mediaId_state" jdbcType="CHAR" property="mkAdvertiserMediaidState" />
    <result column="MK_Advertiser_media_auth_status" jdbcType="SMALLINT" property="mkAdvertiserMediaAuthStatus" />
    <result column="MK_Advertiser_media_token" jdbcType="VARCHAR" property="mkAdvertiserMediaToken" />
    <result column="MK_Advertiser_media_refreshToken" jdbcType="VARCHAR" property="mkAdvertiserMediaRefreshtoken" />
    <result column="MK_Advertiser_media_tokenCrtTm" jdbcType="TIMESTAMP" property="mkAdvertiserMediaTokencrttm" />
    <result column="MK_Advertiser_media_tokenEndTm" jdbcType="TIMESTAMP" property="mkAdvertiserMediaTokenendtm" />
    <result column="MK_Advertiser_media_refreshTokenCrtTm" jdbcType="TIMESTAMP" property="mkAdvertiserMediaRefreshtokencrttm" />
    <result column="MK_Advertiser_media_refreshTokenEndTm" jdbcType="TIMESTAMP" property="mkAdvertiserMediaRefreshtokenendtm" />
    <result column="mk_media_account_name" jdbcType="VARCHAR" property="mkMediaAccountName" />
    <result column="OA_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_agent_account_createTM" jdbcType="TIMESTAMP" property="mkAgentAccountCreatetm" />
    <result column="mk_agent_account_operationTM" jdbcType="TIMESTAMP" property="mkAgentAccountOperationtm" />
    <result column="mk_agent_account_modifyTM" jdbcType="TIMESTAMP" property="mkAgentAccountModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_agent_account_no, MK_media_agent_Code, MK_media_Info_Code, mk_media_account_id, 
    MK_advertiser_app_id, MK_advertiser_media_parentId, MK_advertiser_mediaId_state, 
    MK_Advertiser_media_auth_status, MK_Advertiser_media_token, MK_Advertiser_media_refreshToken, 
    MK_Advertiser_media_tokenCrtTm, MK_Advertiser_media_tokenEndTm, MK_Advertiser_media_refreshTokenCrtTm, 
    MK_Advertiser_media_refreshTokenEndTm, mk_media_account_name, OA_company_account_code, 
    mk_agent_account_createTM, mk_agent_account_operationTM, mk_agent_account_modifyTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_agent_account
    where mk_agent_account_no = #{mkAgentAccountNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_agent_account
    where mk_agent_account_no = #{mkAgentAccountNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkAgentAccount">
    insert into mk_agent_account (mk_agent_account_no, MK_media_agent_Code, 
      MK_media_Info_Code, mk_media_account_id, MK_advertiser_app_id, 
      MK_advertiser_media_parentId, MK_advertiser_mediaId_state, 
      MK_Advertiser_media_auth_status, MK_Advertiser_media_token, 
      MK_Advertiser_media_refreshToken, MK_Advertiser_media_tokenCrtTm, 
      MK_Advertiser_media_tokenEndTm, MK_Advertiser_media_refreshTokenCrtTm, 
      MK_Advertiser_media_refreshTokenEndTm, mk_media_account_name, 
      OA_company_account_code, mk_agent_account_createTM, 
      mk_agent_account_operationTM, mk_agent_account_modifyTM
      )
    values (#{mkAgentAccountNo,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkMediaAccountId,jdbcType=VARCHAR}, #{mkAdvertiserAppId,jdbcType=VARCHAR}, 
      #{mkAdvertiserMediaParentid,jdbcType=VARCHAR}, #{mkAdvertiserMediaidState,jdbcType=CHAR}, 
      #{mkAdvertiserMediaAuthStatus,jdbcType=SMALLINT}, #{mkAdvertiserMediaToken,jdbcType=VARCHAR}, 
      #{mkAdvertiserMediaRefreshtoken,jdbcType=VARCHAR}, #{mkAdvertiserMediaTokencrttm,jdbcType=TIMESTAMP}, 
      #{mkAdvertiserMediaTokenendtm,jdbcType=TIMESTAMP}, #{mkAdvertiserMediaRefreshtokencrttm,jdbcType=TIMESTAMP}, 
      #{mkAdvertiserMediaRefreshtokenendtm,jdbcType=TIMESTAMP}, #{mkMediaAccountName,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkAgentAccountCreatetm,jdbcType=TIMESTAMP}, 
      #{mkAgentAccountOperationtm,jdbcType=TIMESTAMP}, #{mkAgentAccountModifytm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkAgentAccount">
    insert into mk_agent_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkAgentAccountNo != null">
        mk_agent_account_no,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="mkMediaAccountId != null">
        mk_media_account_id,
      </if>
      <if test="mkAdvertiserAppId != null">
        MK_advertiser_app_id,
      </if>
      <if test="mkAdvertiserMediaParentid != null">
        MK_advertiser_media_parentId,
      </if>
      <if test="mkAdvertiserMediaidState != null">
        MK_advertiser_mediaId_state,
      </if>
      <if test="mkAdvertiserMediaAuthStatus != null">
        MK_Advertiser_media_auth_status,
      </if>
      <if test="mkAdvertiserMediaToken != null">
        MK_Advertiser_media_token,
      </if>
      <if test="mkAdvertiserMediaRefreshtoken != null">
        MK_Advertiser_media_refreshToken,
      </if>
      <if test="mkAdvertiserMediaTokencrttm != null">
        MK_Advertiser_media_tokenCrtTm,
      </if>
      <if test="mkAdvertiserMediaTokenendtm != null">
        MK_Advertiser_media_tokenEndTm,
      </if>
      <if test="mkAdvertiserMediaRefreshtokencrttm != null">
        MK_Advertiser_media_refreshTokenCrtTm,
      </if>
      <if test="mkAdvertiserMediaRefreshtokenendtm != null">
        MK_Advertiser_media_refreshTokenEndTm,
      </if>
      <if test="mkMediaAccountName != null">
        mk_media_account_name,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_account_code,
      </if>
      <if test="mkAgentAccountCreatetm != null">
        mk_agent_account_createTM,
      </if>
      <if test="mkAgentAccountOperationtm != null">
        mk_agent_account_operationTM,
      </if>
      <if test="mkAgentAccountModifytm != null">
        mk_agent_account_modifyTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkAgentAccountNo != null">
        #{mkAgentAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountId != null">
        #{mkMediaAccountId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserAppId != null">
        #{mkAdvertiserAppId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaParentid != null">
        #{mkAdvertiserMediaParentid,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaidState != null">
        #{mkAdvertiserMediaidState,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiserMediaAuthStatus != null">
        #{mkAdvertiserMediaAuthStatus,jdbcType=SMALLINT},
      </if>
      <if test="mkAdvertiserMediaToken != null">
        #{mkAdvertiserMediaToken,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaRefreshtoken != null">
        #{mkAdvertiserMediaRefreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaTokencrttm != null">
        #{mkAdvertiserMediaTokencrttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaTokenendtm != null">
        #{mkAdvertiserMediaTokenendtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaRefreshtokencrttm != null">
        #{mkAdvertiserMediaRefreshtokencrttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaRefreshtokenendtm != null">
        #{mkAdvertiserMediaRefreshtokenendtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAccountName != null">
        #{mkMediaAccountName,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAgentAccountCreatetm != null">
        #{mkAgentAccountCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAgentAccountOperationtm != null">
        #{mkAgentAccountOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAgentAccountModifytm != null">
        #{mkAgentAccountModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkAgentAccount">
    update mk_agent_account
    <set>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAccountId != null">
        mk_media_account_id = #{mkMediaAccountId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserAppId != null">
        MK_advertiser_app_id = #{mkAdvertiserAppId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaParentid != null">
        MK_advertiser_media_parentId = #{mkAdvertiserMediaParentid,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaidState != null">
        MK_advertiser_mediaId_state = #{mkAdvertiserMediaidState,jdbcType=CHAR},
      </if>
      <if test="mkAdvertiserMediaAuthStatus != null">
        MK_Advertiser_media_auth_status = #{mkAdvertiserMediaAuthStatus,jdbcType=SMALLINT},
      </if>
      <if test="mkAdvertiserMediaToken != null">
        MK_Advertiser_media_token = #{mkAdvertiserMediaToken,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaRefreshtoken != null">
        MK_Advertiser_media_refreshToken = #{mkAdvertiserMediaRefreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaTokencrttm != null">
        MK_Advertiser_media_tokenCrtTm = #{mkAdvertiserMediaTokencrttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaTokenendtm != null">
        MK_Advertiser_media_tokenEndTm = #{mkAdvertiserMediaTokenendtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaRefreshtokencrttm != null">
        MK_Advertiser_media_refreshTokenCrtTm = #{mkAdvertiserMediaRefreshtokencrttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserMediaRefreshtokenendtm != null">
        MK_Advertiser_media_refreshTokenEndTm = #{mkAdvertiserMediaRefreshtokenendtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAccountName != null">
        mk_media_account_name = #{mkMediaAccountName,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAgentAccountCreatetm != null">
        mk_agent_account_createTM = #{mkAgentAccountCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAgentAccountOperationtm != null">
        mk_agent_account_operationTM = #{mkAgentAccountOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAgentAccountModifytm != null">
        mk_agent_account_modifyTM = #{mkAgentAccountModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_agent_account_no = #{mkAgentAccountNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkAgentAccount">
    update mk_agent_account
    set MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      mk_media_account_id = #{mkMediaAccountId,jdbcType=VARCHAR},
      MK_advertiser_app_id = #{mkAdvertiserAppId,jdbcType=VARCHAR},
      MK_advertiser_media_parentId = #{mkAdvertiserMediaParentid,jdbcType=VARCHAR},
      MK_advertiser_mediaId_state = #{mkAdvertiserMediaidState,jdbcType=CHAR},
      MK_Advertiser_media_auth_status = #{mkAdvertiserMediaAuthStatus,jdbcType=SMALLINT},
      MK_Advertiser_media_token = #{mkAdvertiserMediaToken,jdbcType=VARCHAR},
      MK_Advertiser_media_refreshToken = #{mkAdvertiserMediaRefreshtoken,jdbcType=VARCHAR},
      MK_Advertiser_media_tokenCrtTm = #{mkAdvertiserMediaTokencrttm,jdbcType=TIMESTAMP},
      MK_Advertiser_media_tokenEndTm = #{mkAdvertiserMediaTokenendtm,jdbcType=TIMESTAMP},
      MK_Advertiser_media_refreshTokenCrtTm = #{mkAdvertiserMediaRefreshtokencrttm,jdbcType=TIMESTAMP},
      MK_Advertiser_media_refreshTokenEndTm = #{mkAdvertiserMediaRefreshtokenendtm,jdbcType=TIMESTAMP},
      mk_media_account_name = #{mkMediaAccountName,jdbcType=VARCHAR},
      OA_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_agent_account_createTM = #{mkAgentAccountCreatetm,jdbcType=TIMESTAMP},
      mk_agent_account_operationTM = #{mkAgentAccountOperationtm,jdbcType=TIMESTAMP},
      mk_agent_account_modifyTM = #{mkAgentAccountModifytm,jdbcType=TIMESTAMP}
    where mk_agent_account_no = #{mkAgentAccountNo,jdbcType=VARCHAR}
  </update>
</mapper>