<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkLiveAnchorMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkLiveAnchor">
    <id column="mk_live_anchor_code" jdbcType="VARCHAR" property="mkLiveAnchorCode" />
    <result column="mk_live_anchor_name" jdbcType="VARCHAR" property="mkLiveAnchorName" />
    <result column="mk_live_anchor_phone" jdbcType="VARCHAR" property="mkLiveAnchorPhone" />
    <result column="mk_live_anchor_status" jdbcType="VARCHAR" property="mkLiveAnchorStatus" />
    <result column="oa_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_live_anchor_createtm" jdbcType="TIMESTAMP" property="mkLiveAnchorCreatetm" />
    <result column="mk_live_anchor_operationtm" jdbcType="TIMESTAMP" property="mkLiveAnchorOperationtm" />
    <result column="mk_live_anchor_modifytm" jdbcType="TIMESTAMP" property="mkLiveAnchorModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_live_anchor_code, mk_live_anchor_name, mk_live_anchor_phone, mk_live_anchor_status, 
    oa_company_account_code, mk_live_anchor_createtm, mk_live_anchor_operationtm, mk_live_anchor_modifytm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_live_anchor
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_live_anchor
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    insert into mk_live_anchor (mk_live_anchor_code, mk_live_anchor_name, 
      mk_live_anchor_phone, mk_live_anchor_status, 
      oa_company_account_code, mk_live_anchor_createtm, 
      mk_live_anchor_operationtm, mk_live_anchor_modifytm
      )
    values (#{mkLiveAnchorCode,jdbcType=VARCHAR}, #{mkLiveAnchorName,jdbcType=VARCHAR}, 
      #{mkLiveAnchorPhone,jdbcType=VARCHAR}, #{mkLiveAnchorStatus,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP}, 
      #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP}, #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    insert into mk_live_anchor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkLiveAnchorCode != null">
        mk_live_anchor_code,
      </if>
      <if test="mkLiveAnchorName != null">
        mk_live_anchor_name,
      </if>
      <if test="mkLiveAnchorPhone != null">
        mk_live_anchor_phone,
      </if>
      <if test="mkLiveAnchorStatus != null">
        mk_live_anchor_status,
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code,
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        mk_live_anchor_createtm,
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        mk_live_anchor_operationtm,
      </if>
      <if test="mkLiveAnchorModifytm != null">
        mk_live_anchor_modifytm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkLiveAnchorCode != null">
        #{mkLiveAnchorCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorName != null">
        #{mkLiveAnchorName,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorPhone != null">
        #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorStatus != null">
        #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorModifytm != null">
        #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    update mk_live_anchor
    <set>
      <if test="mkLiveAnchorName != null">
        mk_live_anchor_name = #{mkLiveAnchorName,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorPhone != null">
        mk_live_anchor_phone = #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorStatus != null">
        mk_live_anchor_status = #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        mk_live_anchor_createtm = #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        mk_live_anchor_operationtm = #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorModifytm != null">
        mk_live_anchor_modifytm = #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    update mk_live_anchor
    set mk_live_anchor_name = #{mkLiveAnchorName,jdbcType=VARCHAR},
      mk_live_anchor_phone = #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      mk_live_anchor_status = #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_live_anchor_createtm = #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      mk_live_anchor_operationtm = #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      mk_live_anchor_modifytm = #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP}
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkLiveAnchor">
    <id column="mk_live_anchor_code" jdbcType="VARCHAR" property="mkLiveAnchorCode" />
    <result column="mk_live_anchor_name" jdbcType="VARCHAR" property="mkLiveAnchorName" />
    <result column="mk_live_anchor_phone" jdbcType="VARCHAR" property="mkLiveAnchorPhone" />
    <result column="mk_live_anchor_status" jdbcType="VARCHAR" property="mkLiveAnchorStatus" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_live_anchor_createTM" jdbcType="TIMESTAMP" property="mkLiveAnchorCreatetm" />
    <result column="mk_live_anchor_operationTM" jdbcType="TIMESTAMP" property="mkLiveAnchorOperationtm" />
    <result column="mk_live_anchor_modifyTM" jdbcType="TIMESTAMP" property="mkLiveAnchorModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_live_anchor_code, mk_live_anchor_name, mk_live_anchor_phone, mk_live_anchor_status, 
    OA_company_Account_code, mk_live_anchor_createTM, mk_live_anchor_operationTM, mk_live_anchor_modifyTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_live_anchor
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_live_anchor
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    insert into mk_live_anchor (mk_live_anchor_code, mk_live_anchor_name, 
      mk_live_anchor_phone, mk_live_anchor_status, 
      OA_company_Account_code, mk_live_anchor_createTM, 
      mk_live_anchor_operationTM, mk_live_anchor_modifyTM
      )
    values (#{mkLiveAnchorCode,jdbcType=VARCHAR}, #{mkLiveAnchorName,jdbcType=VARCHAR}, 
      #{mkLiveAnchorPhone,jdbcType=VARCHAR}, #{mkLiveAnchorStatus,jdbcType=VARCHAR}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP}, 
      #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP}, #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    insert into mk_live_anchor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkLiveAnchorCode != null">
        mk_live_anchor_code,
      </if>
      <if test="mkLiveAnchorName != null">
        mk_live_anchor_name,
      </if>
      <if test="mkLiveAnchorPhone != null">
        mk_live_anchor_phone,
      </if>
      <if test="mkLiveAnchorStatus != null">
        mk_live_anchor_status,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        mk_live_anchor_createTM,
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        mk_live_anchor_operationTM,
      </if>
      <if test="mkLiveAnchorModifytm != null">
        mk_live_anchor_modifyTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkLiveAnchorCode != null">
        #{mkLiveAnchorCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorName != null">
        #{mkLiveAnchorName,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorPhone != null">
        #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorStatus != null">
        #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorModifytm != null">
        #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    update mk_live_anchor
    <set>
      <if test="mkLiveAnchorName != null">
        mk_live_anchor_name = #{mkLiveAnchorName,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorPhone != null">
        mk_live_anchor_phone = #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorStatus != null">
        mk_live_anchor_status = #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLiveAnchorCreatetm != null">
        mk_live_anchor_createTM = #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorOperationtm != null">
        mk_live_anchor_operationTM = #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLiveAnchorModifytm != null">
        mk_live_anchor_modifyTM = #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkLiveAnchor">
    update mk_live_anchor
    set mk_live_anchor_name = #{mkLiveAnchorName,jdbcType=VARCHAR},
      mk_live_anchor_phone = #{mkLiveAnchorPhone,jdbcType=VARCHAR},
      mk_live_anchor_status = #{mkLiveAnchorStatus,jdbcType=VARCHAR},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_live_anchor_createTM = #{mkLiveAnchorCreatetm,jdbcType=TIMESTAMP},
      mk_live_anchor_operationTM = #{mkLiveAnchorOperationtm,jdbcType=TIMESTAMP},
      mk_live_anchor_modifyTM = #{mkLiveAnchorModifytm,jdbcType=TIMESTAMP}
    where mk_live_anchor_code = #{mkLiveAnchorCode,jdbcType=VARCHAR}
  </update>
</mapper>