<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkLivePlanMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkLivePlan">
    <id column="mk_live_plan_no" jdbcType="VARCHAR" property="mkLivePlanNo" />
    <result column="mk_live_plan_name" jdbcType="VARCHAR" property="mkLivePlanName" />
    <result column="mk_media_live_accountId" jdbcType="VARCHAR" property="mkMediaLiveAccountid" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_Advertiser_Info_Code" jdbcType="VARCHAR" property="mkAdvertiserInfoCode" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_live_plan_beginTm" jdbcType="TIMESTAMP" property="mkLivePlanBegintm" />
    <result column="mk_live_plan_endTm" jdbcType="TIMESTAMP" property="mkLivePlanEndtm" />
    <result column="mk_live_plan_remark" jdbcType="VARCHAR" property="mkLivePlanRemark" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_live_plan_createTM" jdbcType="TIMESTAMP" property="mkLivePlanCreatetm" />
    <result column="mk_live_plan_operationTM" jdbcType="TIMESTAMP" property="mkLivePlanOperationtm" />
    <result column="mk_live_plan_modifyTM" jdbcType="TIMESTAMP" property="mkLivePlanModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_live_plan_no, mk_live_plan_name, mk_media_live_accountId, mk_media_info_code, 
    MK_Advertiser_Info_Code, MK_media_agent_Code, mk_live_plan_beginTm, mk_live_plan_endTm, 
    mk_live_plan_remark, OA_company_Account_code, mk_live_plan_createTM, mk_live_plan_operationTM, 
    mk_live_plan_modifyTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_live_plan
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_live_plan
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    insert into mk_live_plan (mk_live_plan_no, mk_live_plan_name, mk_media_live_accountId, 
      mk_media_info_code, MK_Advertiser_Info_Code, 
      MK_media_agent_Code, mk_live_plan_beginTm, 
      mk_live_plan_endTm, mk_live_plan_remark, OA_company_Account_code, 
      mk_live_plan_createTM, mk_live_plan_operationTM, 
      mk_live_plan_modifyTM)
    values (#{mkLivePlanNo,jdbcType=VARCHAR}, #{mkLivePlanName,jdbcType=VARCHAR}, #{mkMediaLiveAccountid,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkAdvertiserInfoCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkLivePlanBegintm,jdbcType=TIMESTAMP}, 
      #{mkLivePlanEndtm,jdbcType=TIMESTAMP}, #{mkLivePlanRemark,jdbcType=VARCHAR}, #{oaCompanyAccountCode,jdbcType=VARCHAR}, 
      #{mkLivePlanCreatetm,jdbcType=TIMESTAMP}, #{mkLivePlanOperationtm,jdbcType=TIMESTAMP}, 
      #{mkLivePlanModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    insert into mk_live_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkLivePlanNo != null">
        mk_live_plan_no,
      </if>
      <if test="mkLivePlanName != null">
        mk_live_plan_name,
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountId,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiserInfoCode != null">
        MK_Advertiser_Info_Code,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkLivePlanBegintm != null">
        mk_live_plan_beginTm,
      </if>
      <if test="mkLivePlanEndtm != null">
        mk_live_plan_endTm,
      </if>
      <if test="mkLivePlanRemark != null">
        mk_live_plan_remark,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkLivePlanCreatetm != null">
        mk_live_plan_createTM,
      </if>
      <if test="mkLivePlanOperationtm != null">
        mk_live_plan_operationTM,
      </if>
      <if test="mkLivePlanModifytm != null">
        mk_live_plan_modifyTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkLivePlanNo != null">
        #{mkLivePlanNo,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanName != null">
        #{mkLivePlanName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanBegintm != null">
        #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanEndtm != null">
        #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanRemark != null">
        #{mkLivePlanRemark,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanCreatetm != null">
        #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanOperationtm != null">
        #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanModifytm != null">
        #{mkLivePlanModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    update mk_live_plan
    <set>
      <if test="mkLivePlanName != null">
        mk_live_plan_name = #{mkLivePlanName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountId = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        MK_Advertiser_Info_Code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanBegintm != null">
        mk_live_plan_beginTm = #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanEndtm != null">
        mk_live_plan_endTm = #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanRemark != null">
        mk_live_plan_remark = #{mkLivePlanRemark,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanCreatetm != null">
        mk_live_plan_createTM = #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanOperationtm != null">
        mk_live_plan_operationTM = #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanModifytm != null">
        mk_live_plan_modifyTM = #{mkLivePlanModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    update mk_live_plan
    set mk_live_plan_name = #{mkLivePlanName,jdbcType=VARCHAR},
      mk_media_live_accountId = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_Advertiser_Info_Code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_live_plan_beginTm = #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      mk_live_plan_endTm = #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      mk_live_plan_remark = #{mkLivePlanRemark,jdbcType=VARCHAR},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_live_plan_createTM = #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      mk_live_plan_operationTM = #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      mk_live_plan_modifyTM = #{mkLivePlanModifytm,jdbcType=TIMESTAMP}
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkLivePlan">
    <id column="mk_live_plan_no" jdbcType="VARCHAR" property="mkLivePlanNo" />
    <result column="mk_live_plan_name" jdbcType="VARCHAR" property="mkLivePlanName" />
    <result column="mk_media_live_accountid" jdbcType="VARCHAR" property="mkMediaLiveAccountid" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_advertiser_info_code" jdbcType="VARCHAR" property="mkAdvertiserInfoCode" />
    <result column="mk_media_agent_code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_live_plan_begintm" jdbcType="TIMESTAMP" property="mkLivePlanBegintm" />
    <result column="mk_live_plan_endtm" jdbcType="TIMESTAMP" property="mkLivePlanEndtm" />
    <result column="mk_live_plan_remark" jdbcType="VARCHAR" property="mkLivePlanRemark" />
    <result column="oa_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_live_plan_createtm" jdbcType="TIMESTAMP" property="mkLivePlanCreatetm" />
    <result column="mk_live_plan_operationtm" jdbcType="TIMESTAMP" property="mkLivePlanOperationtm" />
    <result column="mk_live_plan_modifytm" jdbcType="TIMESTAMP" property="mkLivePlanModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_live_plan_no, mk_live_plan_name, mk_media_live_accountid, mk_media_info_code, 
    mk_advertiser_info_code, mk_media_agent_code, mk_live_plan_begintm, mk_live_plan_endtm, 
    mk_live_plan_remark, oa_company_account_code, mk_live_plan_createtm, mk_live_plan_operationtm, 
    mk_live_plan_modifytm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_live_plan
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_live_plan
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    insert into mk_live_plan (mk_live_plan_no, mk_live_plan_name, mk_media_live_accountid, 
      mk_media_info_code, mk_advertiser_info_code, 
      mk_media_agent_code, mk_live_plan_begintm, 
      mk_live_plan_endtm, mk_live_plan_remark, oa_company_account_code, 
      mk_live_plan_createtm, mk_live_plan_operationtm, 
      mk_live_plan_modifytm)
    values (#{mkLivePlanNo,jdbcType=VARCHAR}, #{mkLivePlanName,jdbcType=VARCHAR}, #{mkMediaLiveAccountid,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkAdvertiserInfoCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkLivePlanBegintm,jdbcType=TIMESTAMP}, 
      #{mkLivePlanEndtm,jdbcType=TIMESTAMP}, #{mkLivePlanRemark,jdbcType=VARCHAR}, #{oaCompanyAccountCode,jdbcType=VARCHAR}, 
      #{mkLivePlanCreatetm,jdbcType=TIMESTAMP}, #{mkLivePlanOperationtm,jdbcType=TIMESTAMP}, 
      #{mkLivePlanModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    insert into mk_live_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkLivePlanNo != null">
        mk_live_plan_no,
      </if>
      <if test="mkLivePlanName != null">
        mk_live_plan_name,
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountid,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiserInfoCode != null">
        mk_advertiser_info_code,
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code,
      </if>
      <if test="mkLivePlanBegintm != null">
        mk_live_plan_begintm,
      </if>
      <if test="mkLivePlanEndtm != null">
        mk_live_plan_endtm,
      </if>
      <if test="mkLivePlanRemark != null">
        mk_live_plan_remark,
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code,
      </if>
      <if test="mkLivePlanCreatetm != null">
        mk_live_plan_createtm,
      </if>
      <if test="mkLivePlanOperationtm != null">
        mk_live_plan_operationtm,
      </if>
      <if test="mkLivePlanModifytm != null">
        mk_live_plan_modifytm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkLivePlanNo != null">
        #{mkLivePlanNo,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanName != null">
        #{mkLivePlanName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanBegintm != null">
        #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanEndtm != null">
        #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanRemark != null">
        #{mkLivePlanRemark,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanCreatetm != null">
        #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanOperationtm != null">
        #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanModifytm != null">
        #{mkLivePlanModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    update mk_live_plan
    <set>
      <if test="mkLivePlanName != null">
        mk_live_plan_name = #{mkLivePlanName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountid = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        mk_advertiser_info_code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanBegintm != null">
        mk_live_plan_begintm = #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanEndtm != null">
        mk_live_plan_endtm = #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanRemark != null">
        mk_live_plan_remark = #{mkLivePlanRemark,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkLivePlanCreatetm != null">
        mk_live_plan_createtm = #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanOperationtm != null">
        mk_live_plan_operationtm = #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkLivePlanModifytm != null">
        mk_live_plan_modifytm = #{mkLivePlanModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkLivePlan">
    update mk_live_plan
    set mk_live_plan_name = #{mkLivePlanName,jdbcType=VARCHAR},
      mk_media_live_accountid = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      mk_advertiser_info_code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      mk_media_agent_code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_live_plan_begintm = #{mkLivePlanBegintm,jdbcType=TIMESTAMP},
      mk_live_plan_endtm = #{mkLivePlanEndtm,jdbcType=TIMESTAMP},
      mk_live_plan_remark = #{mkLivePlanRemark,jdbcType=VARCHAR},
      oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_live_plan_createtm = #{mkLivePlanCreatetm,jdbcType=TIMESTAMP},
      mk_live_plan_operationtm = #{mkLivePlanOperationtm,jdbcType=TIMESTAMP},
      mk_live_plan_modifytm = #{mkLivePlanModifytm,jdbcType=TIMESTAMP}
    where mk_live_plan_no = #{mkLivePlanNo,jdbcType=VARCHAR}
  </update>
</mapper>