<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkMaterialInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMaterialInfo">
    <id column="mk_material_info_id" jdbcType="VARCHAR" property="mkMaterialInfoId" />
    <result column="MK_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_advertiser_material_id" jdbcType="VARCHAR" property="mkAdvertiserMaterialId" />
    <result column="mk_advertiser_material_vedioId" jdbcType="VARCHAR" property="mkAdvertiserMaterialVedioid" />
    <result column="mk_material_info_name" jdbcType="VARCHAR" property="mkMaterialInfoName" />
    <result column="mk_material_info_url" jdbcType="VARCHAR" property="mkMaterialInfoUrl" />
    <result column="mk_material_info_transcodingUrl" jdbcType="VARCHAR" property="mkMaterialInfoTranscodingurl" />
    <result column="mk_material_info_posterUrl" jdbcType="VARCHAR" property="mkMaterialInfoPosterurl" />
    <result column="mk_material_info_format" jdbcType="VARCHAR" property="mkMaterialInfoFormat" />
    <result column="mk_material_info_size" jdbcType="VARCHAR" property="mkMaterialInfoSize" />
    <result column="mk_material_info_width" jdbcType="VARCHAR" property="mkMaterialInfoWidth" />
    <result column="mk_material_info_height" jdbcType="VARCHAR" property="mkMaterialInfoHeight" />
    <result column="mk_material_info_duration" jdbcType="INTEGER" property="mkMaterialInfoDuration" />
    <result column="mk_material_info_title" jdbcType="VARCHAR" property="mkMaterialInfoTitle" />
    <result column="mk_material_info_describe" jdbcType="VARCHAR" property="mkMaterialInfoDescribe" />
    <result column="mk_material_info_labels" jdbcType="VARCHAR" property="mkMaterialInfoLabels" />
    <result column="mk_material_info_mediaLabels" jdbcType="VARCHAR" property="mkMaterialInfoMedialabels" />
    <result column="mk_materila_info_aLiYunLables" jdbcType="VARCHAR" property="mkMaterilaInfoAliyunlables" />
    <result column="mk_material_info_type" jdbcType="VARCHAR" property="mkMaterialInfoType" />
    <result column="mk_advertiser_material_mediaUpState" jdbcType="CHAR" property="mkAdvertiserMaterialMediaupstate" />
    <result column="mk_material_info_errReason" jdbcType="VARCHAR" property="mkMaterialInfoErrreason" />
    <result column="mk_material_info_uploadUserCode" jdbcType="VARCHAR" property="mkMaterialInfoUploadusercode" />
    <result column="mk_material_info_uploadUserName" jdbcType="VARCHAR" property="mkMaterialInfoUploadusername" />
    <result column="mk_material_info_auditState" jdbcType="CHAR" property="mkMaterialInfoAuditstate" />
    <result column="mk_material_info_auditHisID" jdbcType="VARCHAR" property="mkMaterialInfoAudithisid" />
    <result column="mk_material_info_CreateTime" jdbcType="TIMESTAMP" property="mkMaterialInfoCreatetime" />
    <result column="mk_material_info_updateTime" jdbcType="TIMESTAMP" property="mkMaterialInfoUpdatetime" />
    <result column="mk_material_info_MODIFYTM" jdbcType="TIMESTAMP" property="mkMaterialInfoModifytm" />
    <result column="mk_material_info_editionFormat" jdbcType="CHAR" property="mkMaterialInfoEditionformat" />
    <result column="mk_material_info_labelScene" jdbcType="VARCHAR" property="mkMaterialInfoLabelscene" />
    <result column="mk_material_info_labelSubject" jdbcType="VARCHAR" property="mkMaterialInfoLabelsubject" />
    <result column="mk_material_info_radicalness" jdbcType="VARCHAR" property="mkMaterialInfoRadicalness" />
    <result column="mk_material_info_labelType" jdbcType="VARCHAR" property="mkMaterialInfoLabeltype" />
    <result column="mk_material_info_state" jdbcType="CHAR" property="mkMaterialInfoState" />
    <result column="oa_merchant_info_No" jdbcType="VARCHAR" property="oaMerchantInfoNo" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_material_info_id, MK_advertiser_media_id, MK_media_Info_Code, MK_media_agent_Code, 
    mk_advertiser_material_id, mk_advertiser_material_vedioId, mk_material_info_name, 
    mk_material_info_url, mk_material_info_transcodingUrl, mk_material_info_posterUrl, 
    mk_material_info_format, mk_material_info_size, mk_material_info_width, mk_material_info_height, 
    mk_material_info_duration, mk_material_info_title, mk_material_info_describe, mk_material_info_labels, 
    mk_material_info_mediaLabels, mk_materila_info_aLiYunLables, mk_material_info_type, 
    mk_advertiser_material_mediaUpState, mk_material_info_errReason, mk_material_info_uploadUserCode, 
    mk_material_info_uploadUserName, mk_material_info_auditState, mk_material_info_auditHisID, 
    mk_material_info_CreateTime, mk_material_info_updateTime, mk_material_info_MODIFYTM, 
    mk_material_info_editionFormat, mk_material_info_labelScene, mk_material_info_labelSubject, 
    mk_material_info_radicalness, mk_material_info_labelType, mk_material_info_state, 
    oa_merchant_info_No
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_material_info
    where mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_material_info
    where mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMaterialInfo">
    insert into mk_material_info (mk_material_info_id, MK_advertiser_media_id, 
      MK_media_Info_Code, MK_media_agent_Code, mk_advertiser_material_id, 
      mk_advertiser_material_vedioId, mk_material_info_name, 
      mk_material_info_url, mk_material_info_transcodingUrl, 
      mk_material_info_posterUrl, mk_material_info_format, 
      mk_material_info_size, mk_material_info_width, 
      mk_material_info_height, mk_material_info_duration, 
      mk_material_info_title, mk_material_info_describe, 
      mk_material_info_labels, mk_material_info_mediaLabels, 
      mk_materila_info_aLiYunLables, mk_material_info_type, 
      mk_advertiser_material_mediaUpState, mk_material_info_errReason, 
      mk_material_info_uploadUserCode, mk_material_info_uploadUserName, 
      mk_material_info_auditState, mk_material_info_auditHisID, 
      mk_material_info_CreateTime, mk_material_info_updateTime, 
      mk_material_info_MODIFYTM, mk_material_info_editionFormat, 
      mk_material_info_labelScene, mk_material_info_labelSubject, 
      mk_material_info_radicalness, mk_material_info_labelType, 
      mk_material_info_state, oa_merchant_info_No)
    values (#{mkMaterialInfoId,jdbcType=VARCHAR}, #{mkAdvertiserMediaId,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkAdvertiserMaterialId,jdbcType=VARCHAR}, 
      #{mkAdvertiserMaterialVedioid,jdbcType=VARCHAR}, #{mkMaterialInfoName,jdbcType=VARCHAR}, 
      #{mkMaterialInfoUrl,jdbcType=VARCHAR}, #{mkMaterialInfoTranscodingurl,jdbcType=VARCHAR}, 
      #{mkMaterialInfoPosterurl,jdbcType=VARCHAR}, #{mkMaterialInfoFormat,jdbcType=VARCHAR}, 
      #{mkMaterialInfoSize,jdbcType=VARCHAR}, #{mkMaterialInfoWidth,jdbcType=VARCHAR}, 
      #{mkMaterialInfoHeight,jdbcType=VARCHAR}, #{mkMaterialInfoDuration,jdbcType=INTEGER}, 
      #{mkMaterialInfoTitle,jdbcType=VARCHAR}, #{mkMaterialInfoDescribe,jdbcType=VARCHAR}, 
      #{mkMaterialInfoLabels,jdbcType=VARCHAR}, #{mkMaterialInfoMedialabels,jdbcType=VARCHAR}, 
      #{mkMaterilaInfoAliyunlables,jdbcType=VARCHAR}, #{mkMaterialInfoType,jdbcType=VARCHAR}, 
      #{mkAdvertiserMaterialMediaupstate,jdbcType=CHAR}, #{mkMaterialInfoErrreason,jdbcType=VARCHAR}, 
      #{mkMaterialInfoUploadusercode,jdbcType=VARCHAR}, #{mkMaterialInfoUploadusername,jdbcType=VARCHAR}, 
      #{mkMaterialInfoAuditstate,jdbcType=CHAR}, #{mkMaterialInfoAudithisid,jdbcType=VARCHAR}, 
      #{mkMaterialInfoCreatetime,jdbcType=TIMESTAMP}, #{mkMaterialInfoUpdatetime,jdbcType=TIMESTAMP}, 
      #{mkMaterialInfoModifytm,jdbcType=TIMESTAMP}, #{mkMaterialInfoEditionformat,jdbcType=CHAR}, 
      #{mkMaterialInfoLabelscene,jdbcType=VARCHAR}, #{mkMaterialInfoLabelsubject,jdbcType=VARCHAR}, 
      #{mkMaterialInfoRadicalness,jdbcType=VARCHAR}, #{mkMaterialInfoLabeltype,jdbcType=VARCHAR}, 
      #{mkMaterialInfoState,jdbcType=CHAR}, #{oaMerchantInfoNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMaterialInfo">
    insert into mk_material_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMaterialInfoId != null">
        mk_material_info_id,
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkAdvertiserMaterialId != null">
        mk_advertiser_material_id,
      </if>
      <if test="mkAdvertiserMaterialVedioid != null">
        mk_advertiser_material_vedioId,
      </if>
      <if test="mkMaterialInfoName != null">
        mk_material_info_name,
      </if>
      <if test="mkMaterialInfoUrl != null">
        mk_material_info_url,
      </if>
      <if test="mkMaterialInfoTranscodingurl != null">
        mk_material_info_transcodingUrl,
      </if>
      <if test="mkMaterialInfoPosterurl != null">
        mk_material_info_posterUrl,
      </if>
      <if test="mkMaterialInfoFormat != null">
        mk_material_info_format,
      </if>
      <if test="mkMaterialInfoSize != null">
        mk_material_info_size,
      </if>
      <if test="mkMaterialInfoWidth != null">
        mk_material_info_width,
      </if>
      <if test="mkMaterialInfoHeight != null">
        mk_material_info_height,
      </if>
      <if test="mkMaterialInfoDuration != null">
        mk_material_info_duration,
      </if>
      <if test="mkMaterialInfoTitle != null">
        mk_material_info_title,
      </if>
      <if test="mkMaterialInfoDescribe != null">
        mk_material_info_describe,
      </if>
      <if test="mkMaterialInfoLabels != null">
        mk_material_info_labels,
      </if>
      <if test="mkMaterialInfoMedialabels != null">
        mk_material_info_mediaLabels,
      </if>
      <if test="mkMaterilaInfoAliyunlables != null">
        mk_materila_info_aLiYunLables,
      </if>
      <if test="mkMaterialInfoType != null">
        mk_material_info_type,
      </if>
      <if test="mkAdvertiserMaterialMediaupstate != null">
        mk_advertiser_material_mediaUpState,
      </if>
      <if test="mkMaterialInfoErrreason != null">
        mk_material_info_errReason,
      </if>
      <if test="mkMaterialInfoUploadusercode != null">
        mk_material_info_uploadUserCode,
      </if>
      <if test="mkMaterialInfoUploadusername != null">
        mk_material_info_uploadUserName,
      </if>
      <if test="mkMaterialInfoAuditstate != null">
        mk_material_info_auditState,
      </if>
      <if test="mkMaterialInfoAudithisid != null">
        mk_material_info_auditHisID,
      </if>
      <if test="mkMaterialInfoCreatetime != null">
        mk_material_info_CreateTime,
      </if>
      <if test="mkMaterialInfoUpdatetime != null">
        mk_material_info_updateTime,
      </if>
      <if test="mkMaterialInfoModifytm != null">
        mk_material_info_MODIFYTM,
      </if>
      <if test="mkMaterialInfoEditionformat != null">
        mk_material_info_editionFormat,
      </if>
      <if test="mkMaterialInfoLabelscene != null">
        mk_material_info_labelScene,
      </if>
      <if test="mkMaterialInfoLabelsubject != null">
        mk_material_info_labelSubject,
      </if>
      <if test="mkMaterialInfoRadicalness != null">
        mk_material_info_radicalness,
      </if>
      <if test="mkMaterialInfoLabeltype != null">
        mk_material_info_labelType,
      </if>
      <if test="mkMaterialInfoState != null">
        mk_material_info_state,
      </if>
      <if test="oaMerchantInfoNo != null">
        oa_merchant_info_No,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMaterialInfoId != null">
        #{mkMaterialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialId != null">
        #{mkAdvertiserMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialVedioid != null">
        #{mkAdvertiserMaterialVedioid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoName != null">
        #{mkMaterialInfoName,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUrl != null">
        #{mkMaterialInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoTranscodingurl != null">
        #{mkMaterialInfoTranscodingurl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoPosterurl != null">
        #{mkMaterialInfoPosterurl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoFormat != null">
        #{mkMaterialInfoFormat,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoSize != null">
        #{mkMaterialInfoSize,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoWidth != null">
        #{mkMaterialInfoWidth,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoHeight != null">
        #{mkMaterialInfoHeight,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoDuration != null">
        #{mkMaterialInfoDuration,jdbcType=INTEGER},
      </if>
      <if test="mkMaterialInfoTitle != null">
        #{mkMaterialInfoTitle,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoDescribe != null">
        #{mkMaterialInfoDescribe,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabels != null">
        #{mkMaterialInfoLabels,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoMedialabels != null">
        #{mkMaterialInfoMedialabels,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterilaInfoAliyunlables != null">
        #{mkMaterilaInfoAliyunlables,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoType != null">
        #{mkMaterialInfoType,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialMediaupstate != null">
        #{mkAdvertiserMaterialMediaupstate,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoErrreason != null">
        #{mkMaterialInfoErrreason,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUploadusercode != null">
        #{mkMaterialInfoUploadusercode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUploadusername != null">
        #{mkMaterialInfoUploadusername,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoAuditstate != null">
        #{mkMaterialInfoAuditstate,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoAudithisid != null">
        #{mkMaterialInfoAudithisid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoCreatetime != null">
        #{mkMaterialInfoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoUpdatetime != null">
        #{mkMaterialInfoUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoModifytm != null">
        #{mkMaterialInfoModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoEditionformat != null">
        #{mkMaterialInfoEditionformat,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoLabelscene != null">
        #{mkMaterialInfoLabelscene,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabelsubject != null">
        #{mkMaterialInfoLabelsubject,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoRadicalness != null">
        #{mkMaterialInfoRadicalness,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabeltype != null">
        #{mkMaterialInfoLabeltype,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoState != null">
        #{mkMaterialInfoState,jdbcType=CHAR},
      </if>
      <if test="oaMerchantInfoNo != null">
        #{oaMerchantInfoNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMaterialInfo">
    update mk_material_info
    <set>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialId != null">
        mk_advertiser_material_id = #{mkAdvertiserMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialVedioid != null">
        mk_advertiser_material_vedioId = #{mkAdvertiserMaterialVedioid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoName != null">
        mk_material_info_name = #{mkMaterialInfoName,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUrl != null">
        mk_material_info_url = #{mkMaterialInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoTranscodingurl != null">
        mk_material_info_transcodingUrl = #{mkMaterialInfoTranscodingurl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoPosterurl != null">
        mk_material_info_posterUrl = #{mkMaterialInfoPosterurl,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoFormat != null">
        mk_material_info_format = #{mkMaterialInfoFormat,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoSize != null">
        mk_material_info_size = #{mkMaterialInfoSize,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoWidth != null">
        mk_material_info_width = #{mkMaterialInfoWidth,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoHeight != null">
        mk_material_info_height = #{mkMaterialInfoHeight,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoDuration != null">
        mk_material_info_duration = #{mkMaterialInfoDuration,jdbcType=INTEGER},
      </if>
      <if test="mkMaterialInfoTitle != null">
        mk_material_info_title = #{mkMaterialInfoTitle,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoDescribe != null">
        mk_material_info_describe = #{mkMaterialInfoDescribe,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabels != null">
        mk_material_info_labels = #{mkMaterialInfoLabels,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoMedialabels != null">
        mk_material_info_mediaLabels = #{mkMaterialInfoMedialabels,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterilaInfoAliyunlables != null">
        mk_materila_info_aLiYunLables = #{mkMaterilaInfoAliyunlables,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoType != null">
        mk_material_info_type = #{mkMaterialInfoType,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMaterialMediaupstate != null">
        mk_advertiser_material_mediaUpState = #{mkAdvertiserMaterialMediaupstate,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoErrreason != null">
        mk_material_info_errReason = #{mkMaterialInfoErrreason,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUploadusercode != null">
        mk_material_info_uploadUserCode = #{mkMaterialInfoUploadusercode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoUploadusername != null">
        mk_material_info_uploadUserName = #{mkMaterialInfoUploadusername,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoAuditstate != null">
        mk_material_info_auditState = #{mkMaterialInfoAuditstate,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoAudithisid != null">
        mk_material_info_auditHisID = #{mkMaterialInfoAudithisid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoCreatetime != null">
        mk_material_info_CreateTime = #{mkMaterialInfoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoUpdatetime != null">
        mk_material_info_updateTime = #{mkMaterialInfoUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoModifytm != null">
        mk_material_info_MODIFYTM = #{mkMaterialInfoModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialInfoEditionformat != null">
        mk_material_info_editionFormat = #{mkMaterialInfoEditionformat,jdbcType=CHAR},
      </if>
      <if test="mkMaterialInfoLabelscene != null">
        mk_material_info_labelScene = #{mkMaterialInfoLabelscene,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabelsubject != null">
        mk_material_info_labelSubject = #{mkMaterialInfoLabelsubject,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoRadicalness != null">
        mk_material_info_radicalness = #{mkMaterialInfoRadicalness,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoLabeltype != null">
        mk_material_info_labelType = #{mkMaterialInfoLabeltype,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoState != null">
        mk_material_info_state = #{mkMaterialInfoState,jdbcType=CHAR},
      </if>
      <if test="oaMerchantInfoNo != null">
        oa_merchant_info_No = #{oaMerchantInfoNo,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMaterialInfo">
    update mk_material_info
    set MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_advertiser_material_id = #{mkAdvertiserMaterialId,jdbcType=VARCHAR},
      mk_advertiser_material_vedioId = #{mkAdvertiserMaterialVedioid,jdbcType=VARCHAR},
      mk_material_info_name = #{mkMaterialInfoName,jdbcType=VARCHAR},
      mk_material_info_url = #{mkMaterialInfoUrl,jdbcType=VARCHAR},
      mk_material_info_transcodingUrl = #{mkMaterialInfoTranscodingurl,jdbcType=VARCHAR},
      mk_material_info_posterUrl = #{mkMaterialInfoPosterurl,jdbcType=VARCHAR},
      mk_material_info_format = #{mkMaterialInfoFormat,jdbcType=VARCHAR},
      mk_material_info_size = #{mkMaterialInfoSize,jdbcType=VARCHAR},
      mk_material_info_width = #{mkMaterialInfoWidth,jdbcType=VARCHAR},
      mk_material_info_height = #{mkMaterialInfoHeight,jdbcType=VARCHAR},
      mk_material_info_duration = #{mkMaterialInfoDuration,jdbcType=INTEGER},
      mk_material_info_title = #{mkMaterialInfoTitle,jdbcType=VARCHAR},
      mk_material_info_describe = #{mkMaterialInfoDescribe,jdbcType=VARCHAR},
      mk_material_info_labels = #{mkMaterialInfoLabels,jdbcType=VARCHAR},
      mk_material_info_mediaLabels = #{mkMaterialInfoMedialabels,jdbcType=VARCHAR},
      mk_materila_info_aLiYunLables = #{mkMaterilaInfoAliyunlables,jdbcType=VARCHAR},
      mk_material_info_type = #{mkMaterialInfoType,jdbcType=VARCHAR},
      mk_advertiser_material_mediaUpState = #{mkAdvertiserMaterialMediaupstate,jdbcType=CHAR},
      mk_material_info_errReason = #{mkMaterialInfoErrreason,jdbcType=VARCHAR},
      mk_material_info_uploadUserCode = #{mkMaterialInfoUploadusercode,jdbcType=VARCHAR},
      mk_material_info_uploadUserName = #{mkMaterialInfoUploadusername,jdbcType=VARCHAR},
      mk_material_info_auditState = #{mkMaterialInfoAuditstate,jdbcType=CHAR},
      mk_material_info_auditHisID = #{mkMaterialInfoAudithisid,jdbcType=VARCHAR},
      mk_material_info_CreateTime = #{mkMaterialInfoCreatetime,jdbcType=TIMESTAMP},
      mk_material_info_updateTime = #{mkMaterialInfoUpdatetime,jdbcType=TIMESTAMP},
      mk_material_info_MODIFYTM = #{mkMaterialInfoModifytm,jdbcType=TIMESTAMP},
      mk_material_info_editionFormat = #{mkMaterialInfoEditionformat,jdbcType=CHAR},
      mk_material_info_labelScene = #{mkMaterialInfoLabelscene,jdbcType=VARCHAR},
      mk_material_info_labelSubject = #{mkMaterialInfoLabelsubject,jdbcType=VARCHAR},
      mk_material_info_radicalness = #{mkMaterialInfoRadicalness,jdbcType=VARCHAR},
      mk_material_info_labelType = #{mkMaterialInfoLabeltype,jdbcType=VARCHAR},
      mk_material_info_state = #{mkMaterialInfoState,jdbcType=CHAR},
      oa_merchant_info_No = #{oaMerchantInfoNo,jdbcType=VARCHAR}
    where mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR}
  </update>
</mapper>