<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkMaterialViewrecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    <result column="mk_material_viewrecord_id" jdbcType="VARCHAR" property="mkMaterialViewrecordId" />
    <result column="mk_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_media_agent_code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_material_info_id" jdbcType="VARCHAR" property="mkMaterialInfoId" />
    <result column="mk_material_info_vedioid" jdbcType="VARCHAR" property="mkMaterialInfoVedioid" />
    <result column="mk_material_viewrecord_usercode" jdbcType="VARCHAR" property="mkMaterialViewrecordUsercode" />
    <result column="mk_material_viewrecord_username" jdbcType="VARCHAR" property="mkMaterialViewrecordUsername" />
    <result column="mk_material_viewrecord_lengthtime" jdbcType="VARCHAR" property="mkMaterialViewrecordLengthtime" />
    <result column="mk_material_viewrecord_createtime" jdbcType="TIMESTAMP" property="mkMaterialViewrecordCreatetime" />
    <result column="mk_material_viewrecord_modifytm" jdbcType="TIMESTAMP" property="mkMaterialViewrecordModifytm" />
    <result column="mk_material_viewrecord_pagetype" jdbcType="VARCHAR" property="mkMaterialViewrecordPagetype" />
  </resultMap>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    insert into mk_material_viewrecord (mk_material_viewrecord_id, mk_advertiser_media_id, 
      mk_media_info_code, mk_media_agent_code, mk_material_info_id, 
      mk_material_info_vedioid, mk_material_viewrecord_usercode, 
      mk_material_viewrecord_username, mk_material_viewrecord_lengthtime, 
      mk_material_viewrecord_createtime, mk_material_viewrecord_modifytm, 
      mk_material_viewrecord_pagetype)
    values (#{mkMaterialViewrecordId,jdbcType=VARCHAR}, #{mkAdvertiserMediaId,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkMaterialInfoId,jdbcType=VARCHAR}, 
      #{mkMaterialInfoVedioid,jdbcType=VARCHAR}, #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR}, 
      #{mkMaterialViewrecordUsername,jdbcType=VARCHAR}, #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR}, 
      #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP}, #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP}, 
      #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    insert into mk_material_viewrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMaterialViewrecordId != null">
        mk_material_viewrecord_id,
      </if>
      <if test="mkAdvertiserMediaId != null">
        mk_advertiser_media_id,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code,
      </if>
      <if test="mkMaterialInfoId != null">
        mk_material_info_id,
      </if>
      <if test="mkMaterialInfoVedioid != null">
        mk_material_info_vedioid,
      </if>
      <if test="mkMaterialViewrecordUsercode != null">
        mk_material_viewrecord_usercode,
      </if>
      <if test="mkMaterialViewrecordUsername != null">
        mk_material_viewrecord_username,
      </if>
      <if test="mkMaterialViewrecordLengthtime != null">
        mk_material_viewrecord_lengthtime,
      </if>
      <if test="mkMaterialViewrecordCreatetime != null">
        mk_material_viewrecord_createtime,
      </if>
      <if test="mkMaterialViewrecordModifytm != null">
        mk_material_viewrecord_modifytm,
      </if>
      <if test="mkMaterialViewrecordPagetype != null">
        mk_material_viewrecord_pagetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMaterialViewrecordId != null">
        #{mkMaterialViewrecordId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoId != null">
        #{mkMaterialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoVedioid != null">
        #{mkMaterialInfoVedioid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsercode != null">
        #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsername != null">
        #{mkMaterialViewrecordUsername,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordLengthtime != null">
        #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordCreatetime != null">
        #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordModifytm != null">
        #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordPagetype != null">
        #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    <id column="mk_material_viewRecord_id" jdbcType="VARCHAR" property="mkMaterialViewrecordId" />
    <result column="MK_advertiser_media_id" jdbcType="VARCHAR" property="mkAdvertiserMediaId" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_material_info_id" jdbcType="VARCHAR" property="mkMaterialInfoId" />
    <result column="mk_material_info_vedioId" jdbcType="VARCHAR" property="mkMaterialInfoVedioid" />
    <result column="mk_material_viewRecord_UserCode" jdbcType="VARCHAR" property="mkMaterialViewrecordUsercode" />
    <result column="mk_material_viewRecord_UserName" jdbcType="VARCHAR" property="mkMaterialViewrecordUsername" />
    <result column="mk_material_viewRecord_lengthTime" jdbcType="VARCHAR" property="mkMaterialViewrecordLengthtime" />
    <result column="mk_material_viewRecord_CreateTime" jdbcType="TIMESTAMP" property="mkMaterialViewrecordCreatetime" />
    <result column="mk_material_viewRecord_MODIFYTM" jdbcType="TIMESTAMP" property="mkMaterialViewrecordModifytm" />
    <result column="mk_material_viewRecord_pageTYpe" jdbcType="VARCHAR" property="mkMaterialViewrecordPagetype" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_material_viewRecord_id, MK_advertiser_media_id, MK_media_Info_Code, MK_media_agent_Code, 
    mk_material_info_id, mk_material_info_vedioId, mk_material_viewRecord_UserCode, mk_material_viewRecord_UserName, 
    mk_material_viewRecord_lengthTime, mk_material_viewRecord_CreateTime, mk_material_viewRecord_MODIFYTM, 
    mk_material_viewRecord_pageTYpe
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_material_viewrecord
    where mk_material_viewRecord_id = #{mkMaterialViewrecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_material_viewrecord
    where mk_material_viewRecord_id = #{mkMaterialViewrecordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    insert into mk_material_viewrecord (mk_material_viewRecord_id, MK_advertiser_media_id, 
      MK_media_Info_Code, MK_media_agent_Code, mk_material_info_id, 
      mk_material_info_vedioId, mk_material_viewRecord_UserCode, 
      mk_material_viewRecord_UserName, mk_material_viewRecord_lengthTime, 
      mk_material_viewRecord_CreateTime, mk_material_viewRecord_MODIFYTM, 
      mk_material_viewRecord_pageTYpe)
    values (#{mkMaterialViewrecordId,jdbcType=VARCHAR}, #{mkAdvertiserMediaId,jdbcType=VARCHAR}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkMaterialInfoId,jdbcType=VARCHAR}, 
      #{mkMaterialInfoVedioid,jdbcType=VARCHAR}, #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR}, 
      #{mkMaterialViewrecordUsername,jdbcType=VARCHAR}, #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR}, 
      #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP}, #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP}, 
      #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    insert into mk_material_viewrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMaterialViewrecordId != null">
        mk_material_viewRecord_id,
      </if>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkMaterialInfoId != null">
        mk_material_info_id,
      </if>
      <if test="mkMaterialInfoVedioid != null">
        mk_material_info_vedioId,
      </if>
      <if test="mkMaterialViewrecordUsercode != null">
        mk_material_viewRecord_UserCode,
      </if>
      <if test="mkMaterialViewrecordUsername != null">
        mk_material_viewRecord_UserName,
      </if>
      <if test="mkMaterialViewrecordLengthtime != null">
        mk_material_viewRecord_lengthTime,
      </if>
      <if test="mkMaterialViewrecordCreatetime != null">
        mk_material_viewRecord_CreateTime,
      </if>
      <if test="mkMaterialViewrecordModifytm != null">
        mk_material_viewRecord_MODIFYTM,
      </if>
      <if test="mkMaterialViewrecordPagetype != null">
        mk_material_viewRecord_pageTYpe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMaterialViewrecordId != null">
        #{mkMaterialViewrecordId,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserMediaId != null">
        #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoId != null">
        #{mkMaterialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoVedioid != null">
        #{mkMaterialInfoVedioid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsercode != null">
        #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsername != null">
        #{mkMaterialViewrecordUsername,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordLengthtime != null">
        #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordCreatetime != null">
        #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordModifytm != null">
        #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordPagetype != null">
        #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    update mk_material_viewrecord
    <set>
      <if test="mkAdvertiserMediaId != null">
        MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoId != null">
        mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialInfoVedioid != null">
        mk_material_info_vedioId = #{mkMaterialInfoVedioid,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsercode != null">
        mk_material_viewRecord_UserCode = #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordUsername != null">
        mk_material_viewRecord_UserName = #{mkMaterialViewrecordUsername,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordLengthtime != null">
        mk_material_viewRecord_lengthTime = #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR},
      </if>
      <if test="mkMaterialViewrecordCreatetime != null">
        mk_material_viewRecord_CreateTime = #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordModifytm != null">
        mk_material_viewRecord_MODIFYTM = #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMaterialViewrecordPagetype != null">
        mk_material_viewRecord_pageTYpe = #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_material_viewRecord_id = #{mkMaterialViewrecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMaterialViewrecord">
    update mk_material_viewrecord
    set MK_advertiser_media_id = #{mkAdvertiserMediaId,jdbcType=VARCHAR},
      MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_material_info_id = #{mkMaterialInfoId,jdbcType=VARCHAR},
      mk_material_info_vedioId = #{mkMaterialInfoVedioid,jdbcType=VARCHAR},
      mk_material_viewRecord_UserCode = #{mkMaterialViewrecordUsercode,jdbcType=VARCHAR},
      mk_material_viewRecord_UserName = #{mkMaterialViewrecordUsername,jdbcType=VARCHAR},
      mk_material_viewRecord_lengthTime = #{mkMaterialViewrecordLengthtime,jdbcType=VARCHAR},
      mk_material_viewRecord_CreateTime = #{mkMaterialViewrecordCreatetime,jdbcType=TIMESTAMP},
      mk_material_viewRecord_MODIFYTM = #{mkMaterialViewrecordModifytm,jdbcType=TIMESTAMP},
      mk_material_viewRecord_pageTYpe = #{mkMaterialViewrecordPagetype,jdbcType=VARCHAR}
    where mk_material_viewRecord_id = #{mkMaterialViewrecordId,jdbcType=VARCHAR}
  </update>
</mapper>