<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkMediaAgentDiscountnotesMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMediaAgentDiscountnotes">
    <id column="mk_media_agent_discountNotesNo" jdbcType="VARCHAR" property="mkMediaAgentDiscountnotesno" />
    <result column="mk_media_discount_OrdinalNo" jdbcType="INTEGER" property="mkMediaDiscountOrdinalno" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_Advertiser_Info_CompanyBody" jdbcType="VARCHAR" property="mkAdvertiserInfoCompanybody" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_media_agent_discountNotesFactor" jdbcType="NUMERIC" property="mkMediaAgentDiscountnotesfactor" />
    <result column="mk_media_agent_discountNotesBeginTime" jdbcType="TIMESTAMP" property="mkMediaAgentDiscountnotesbegintime" />
    <result column="mk_media_agent_discountNotesEndTime" jdbcType="TIMESTAMP" property="mkMediaAgentDiscountnotesendtime" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_media_agent_CreateTM" jdbcType="TIMESTAMP" property="mkMediaAgentCreatetm" />
    <result column="mk_media_agent_OperationTM" jdbcType="TIMESTAMP" property="mkMediaAgentOperationtm" />
    <result column="mk_media_agent_MODIFYTM" jdbcType="TIMESTAMP" property="mkMediaAgentModifytm" />
    <result column="mk_media_agent_discountLevel" jdbcType="VARCHAR" property="mkMediaAgentDiscountlevel" />
    <result column="mk_media_agent_discountRebateType" jdbcType="VARCHAR" property="mkMediaAgentDiscountrebatetype" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_media_agent_discountNotesNo, mk_media_discount_OrdinalNo, MK_media_Info_Code, 
    MK_Advertiser_Info_CompanyBody, MK_media_agent_Code, mk_media_agent_discountNotesFactor, 
    mk_media_agent_discountNotesBeginTime, mk_media_agent_discountNotesEndTime, OA_company_Account_code, 
    mk_media_agent_CreateTM, mk_media_agent_OperationTM, mk_media_agent_MODIFYTM, mk_media_agent_discountLevel, 
    mk_media_agent_discountRebateType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_media_agent_discountnotes
    where mk_media_agent_discountNotesNo = #{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_media_agent_discountnotes
    where mk_media_agent_discountNotesNo = #{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscountnotes">
    insert into mk_media_agent_discountnotes (mk_media_agent_discountNotesNo, mk_media_discount_OrdinalNo, 
      MK_media_Info_Code, MK_Advertiser_Info_CompanyBody, 
      MK_media_agent_Code, mk_media_agent_discountNotesFactor, 
      mk_media_agent_discountNotesBeginTime, mk_media_agent_discountNotesEndTime, 
      OA_company_Account_code, mk_media_agent_CreateTM, 
      mk_media_agent_OperationTM, mk_media_agent_MODIFYTM, 
      mk_media_agent_discountLevel, mk_media_agent_discountRebateType
      )
    values (#{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR}, #{mkMediaDiscountOrdinalno,jdbcType=INTEGER}, 
      #{mkMediaInfoCode,jdbcType=VARCHAR}, #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR}, 
      #{mkMediaAgentCode,jdbcType=VARCHAR}, #{mkMediaAgentDiscountnotesfactor,jdbcType=NUMERIC}, 
      #{mkMediaAgentDiscountnotesbegintime,jdbcType=TIMESTAMP}, #{mkMediaAgentDiscountnotesendtime,jdbcType=TIMESTAMP}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP}, #{mkMediaAgentModifytm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR}, #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscountnotes">
    insert into mk_media_agent_discountnotes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountnotesno != null">
        mk_media_agent_discountNotesNo,
      </if>
      <if test="mkMediaDiscountOrdinalno != null">
        mk_media_discount_OrdinalNo,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        MK_Advertiser_Info_CompanyBody,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkMediaAgentDiscountnotesfactor != null">
        mk_media_agent_discountNotesFactor,
      </if>
      <if test="mkMediaAgentDiscountnotesbegintime != null">
        mk_media_agent_discountNotesBeginTime,
      </if>
      <if test="mkMediaAgentDiscountnotesendtime != null">
        mk_media_agent_discountNotesEndTime,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkMediaAgentCreatetm != null">
        mk_media_agent_CreateTM,
      </if>
      <if test="mkMediaAgentOperationtm != null">
        mk_media_agent_OperationTM,
      </if>
      <if test="mkMediaAgentModifytm != null">
        mk_media_agent_MODIFYTM,
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        mk_media_agent_discountLevel,
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        mk_media_agent_discountRebateType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountnotesno != null">
        #{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaDiscountOrdinalno != null">
        #{mkMediaDiscountOrdinalno,jdbcType=INTEGER},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountnotesfactor != null">
        #{mkMediaAgentDiscountnotesfactor,jdbcType=NUMERIC},
      </if>
      <if test="mkMediaAgentDiscountnotesbegintime != null">
        #{mkMediaAgentDiscountnotesbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountnotesendtime != null">
        #{mkMediaAgentDiscountnotesendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCreatetm != null">
        #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentOperationtm != null">
        #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentModifytm != null">
        #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscountnotes">
    update mk_media_agent_discountnotes
    <set>
      <if test="mkMediaDiscountOrdinalno != null">
        mk_media_discount_OrdinalNo = #{mkMediaDiscountOrdinalno,jdbcType=INTEGER},
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        MK_Advertiser_Info_CompanyBody = #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountnotesfactor != null">
        mk_media_agent_discountNotesFactor = #{mkMediaAgentDiscountnotesfactor,jdbcType=NUMERIC},
      </if>
      <if test="mkMediaAgentDiscountnotesbegintime != null">
        mk_media_agent_discountNotesBeginTime = #{mkMediaAgentDiscountnotesbegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountnotesendtime != null">
        mk_media_agent_discountNotesEndTime = #{mkMediaAgentDiscountnotesendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCreatetm != null">
        mk_media_agent_CreateTM = #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentOperationtm != null">
        mk_media_agent_OperationTM = #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentModifytm != null">
        mk_media_agent_MODIFYTM = #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        mk_media_agent_discountLevel = #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        mk_media_agent_discountRebateType = #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_media_agent_discountNotesNo = #{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscountnotes">
    update mk_media_agent_discountnotes
    set mk_media_discount_OrdinalNo = #{mkMediaDiscountOrdinalno,jdbcType=INTEGER},
      MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_Advertiser_Info_CompanyBody = #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_media_agent_discountNotesFactor = #{mkMediaAgentDiscountnotesfactor,jdbcType=NUMERIC},
      mk_media_agent_discountNotesBeginTime = #{mkMediaAgentDiscountnotesbegintime,jdbcType=TIMESTAMP},
      mk_media_agent_discountNotesEndTime = #{mkMediaAgentDiscountnotesendtime,jdbcType=TIMESTAMP},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_media_agent_CreateTM = #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      mk_media_agent_OperationTM = #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      mk_media_agent_MODIFYTM = #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      mk_media_agent_discountLevel = #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      mk_media_agent_discountRebateType = #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR}
    where mk_media_agent_discountNotesNo = #{mkMediaAgentDiscountnotesno,jdbcType=VARCHAR}
  </update>
</mapper>