<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkMediaLiveMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMediaLive">
    <id column="mk_media_live_code" jdbcType="VARCHAR" property="mkMediaLiveCode" />
    <result column="mk_media_live_accountid" jdbcType="VARCHAR" property="mkMediaLiveAccountid" />
    <result column="mk_media_live_uid" jdbcType="VARCHAR" property="mkMediaLiveUid" />
    <result column="mk_media_live_name" jdbcType="VARCHAR" property="mkMediaLiveName" />
    <result column="mk_media_live_state" jdbcType="VARCHAR" property="mkMediaLiveState" />
    <result column="mk_media_live_remark" jdbcType="VARCHAR" property="mkMediaLiveRemark" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="oa_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_media_live_createtm" jdbcType="TIMESTAMP" property="mkMediaLiveCreatetm" />
    <result column="mk_media_live_operationtm" jdbcType="TIMESTAMP" property="mkMediaLiveOperationtm" />
    <result column="mk_media_live_modifytm" jdbcType="TIMESTAMP" property="mkMediaLiveModifytm" />
    <result column="mk_advertiser_info_code" jdbcType="VARCHAR" property="mkAdvertiserInfoCode" />
    <result column="mk_media_agent_code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_media_live_code, mk_media_live_accountid, mk_media_live_uid, mk_media_live_name, 
    mk_media_live_state, mk_media_live_remark, mk_media_info_code, oa_company_account_code, 
    mk_media_live_createtm, mk_media_live_operationtm, mk_media_live_modifytm, mk_advertiser_info_code, 
    mk_media_agent_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_media_live
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_media_live
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    insert into mk_media_live (mk_media_live_code, mk_media_live_accountid, 
      mk_media_live_uid, mk_media_live_name, mk_media_live_state, 
      mk_media_live_remark, mk_media_info_code, oa_company_account_code, 
      mk_media_live_createtm, mk_media_live_operationtm, 
      mk_media_live_modifytm, mk_advertiser_info_code, 
      mk_media_agent_code)
    values (#{mkMediaLiveCode,jdbcType=VARCHAR}, #{mkMediaLiveAccountid,jdbcType=VARCHAR}, 
      #{mkMediaLiveUid,jdbcType=VARCHAR}, #{mkMediaLiveName,jdbcType=VARCHAR}, #{mkMediaLiveState,jdbcType=VARCHAR}, 
      #{mkMediaLiveRemark,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, #{oaCompanyAccountCode,jdbcType=VARCHAR}, 
      #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP}, #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP}, 
      #{mkMediaLiveModifytm,jdbcType=TIMESTAMP}, #{mkAdvertiserInfoCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    insert into mk_media_live
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMediaLiveCode != null">
        mk_media_live_code,
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountid,
      </if>
      <if test="mkMediaLiveUid != null">
        mk_media_live_uid,
      </if>
      <if test="mkMediaLiveName != null">
        mk_media_live_name,
      </if>
      <if test="mkMediaLiveState != null">
        mk_media_live_state,
      </if>
      <if test="mkMediaLiveRemark != null">
        mk_media_live_remark,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code,
      </if>
      <if test="mkMediaLiveCreatetm != null">
        mk_media_live_createtm,
      </if>
      <if test="mkMediaLiveOperationtm != null">
        mk_media_live_operationtm,
      </if>
      <if test="mkMediaLiveModifytm != null">
        mk_media_live_modifytm,
      </if>
      <if test="mkAdvertiserInfoCode != null">
        mk_advertiser_info_code,
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMediaLiveCode != null">
        #{mkMediaLiveCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveUid != null">
        #{mkMediaLiveUid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveName != null">
        #{mkMediaLiveName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveState != null">
        #{mkMediaLiveState,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveRemark != null">
        #{mkMediaLiveRemark,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveCreatetm != null">
        #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveOperationtm != null">
        #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveModifytm != null">
        #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    update mk_media_live
    <set>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountid = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveUid != null">
        mk_media_live_uid = #{mkMediaLiveUid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveName != null">
        mk_media_live_name = #{mkMediaLiveName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveState != null">
        mk_media_live_state = #{mkMediaLiveState,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveRemark != null">
        mk_media_live_remark = #{mkMediaLiveRemark,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveCreatetm != null">
        mk_media_live_createtm = #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveOperationtm != null">
        mk_media_live_operationtm = #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveModifytm != null">
        mk_media_live_modifytm = #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        mk_advertiser_info_code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    update mk_media_live
    set mk_media_live_accountid = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      mk_media_live_uid = #{mkMediaLiveUid,jdbcType=VARCHAR},
      mk_media_live_name = #{mkMediaLiveName,jdbcType=VARCHAR},
      mk_media_live_state = #{mkMediaLiveState,jdbcType=VARCHAR},
      mk_media_live_remark = #{mkMediaLiveRemark,jdbcType=VARCHAR},
      mk_media_info_code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      oa_company_account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_media_live_createtm = #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      mk_media_live_operationtm = #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      mk_media_live_modifytm = #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      mk_advertiser_info_code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      mk_media_agent_code = #{mkMediaAgentCode,jdbcType=VARCHAR}
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMediaLive">
    <id column="mk_media_live_code" jdbcType="VARCHAR" property="mkMediaLiveCode" />
    <result column="mk_media_live_accountId" jdbcType="VARCHAR" property="mkMediaLiveAccountid" />
    <result column="mk_media_live_uid" jdbcType="VARCHAR" property="mkMediaLiveUid" />
    <result column="mk_media_live_name" jdbcType="VARCHAR" property="mkMediaLiveName" />
    <result column="mk_media_live_state" jdbcType="VARCHAR" property="mkMediaLiveState" />
    <result column="mk_media_live_remark" jdbcType="VARCHAR" property="mkMediaLiveRemark" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_media_live_createTM" jdbcType="TIMESTAMP" property="mkMediaLiveCreatetm" />
    <result column="mk_media_live_operationTM" jdbcType="TIMESTAMP" property="mkMediaLiveOperationtm" />
    <result column="mk_media_live_modifyTM" jdbcType="TIMESTAMP" property="mkMediaLiveModifytm" />
    <result column="MK_Advertiser_Info_Code" jdbcType="VARCHAR" property="mkAdvertiserInfoCode" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_media_live_code, mk_media_live_accountId, mk_media_live_uid, mk_media_live_name, 
    mk_media_live_state, mk_media_live_remark, MK_media_Info_Code, OA_company_Account_code, 
    mk_media_live_createTM, mk_media_live_operationTM, mk_media_live_modifyTM, MK_Advertiser_Info_Code, 
    MK_media_agent_Code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_media_live
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_media_live
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    insert into mk_media_live (mk_media_live_code, mk_media_live_accountId, 
      mk_media_live_uid, mk_media_live_name, mk_media_live_state, 
      mk_media_live_remark, MK_media_Info_Code, OA_company_Account_code, 
      mk_media_live_createTM, mk_media_live_operationTM, 
      mk_media_live_modifyTM, MK_Advertiser_Info_Code, 
      MK_media_agent_Code)
    values (#{mkMediaLiveCode,jdbcType=VARCHAR}, #{mkMediaLiveAccountid,jdbcType=VARCHAR}, 
      #{mkMediaLiveUid,jdbcType=VARCHAR}, #{mkMediaLiveName,jdbcType=VARCHAR}, #{mkMediaLiveState,jdbcType=VARCHAR}, 
      #{mkMediaLiveRemark,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, #{oaCompanyAccountCode,jdbcType=VARCHAR}, 
      #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP}, #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP}, 
      #{mkMediaLiveModifytm,jdbcType=TIMESTAMP}, #{mkAdvertiserInfoCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    insert into mk_media_live
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMediaLiveCode != null">
        mk_media_live_code,
      </if>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountId,
      </if>
      <if test="mkMediaLiveUid != null">
        mk_media_live_uid,
      </if>
      <if test="mkMediaLiveName != null">
        mk_media_live_name,
      </if>
      <if test="mkMediaLiveState != null">
        mk_media_live_state,
      </if>
      <if test="mkMediaLiveRemark != null">
        mk_media_live_remark,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkMediaLiveCreatetm != null">
        mk_media_live_createTM,
      </if>
      <if test="mkMediaLiveOperationtm != null">
        mk_media_live_operationTM,
      </if>
      <if test="mkMediaLiveModifytm != null">
        mk_media_live_modifyTM,
      </if>
      <if test="mkAdvertiserInfoCode != null">
        MK_Advertiser_Info_Code,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMediaLiveCode != null">
        #{mkMediaLiveCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveAccountid != null">
        #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveUid != null">
        #{mkMediaLiveUid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveName != null">
        #{mkMediaLiveName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveState != null">
        #{mkMediaLiveState,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveRemark != null">
        #{mkMediaLiveRemark,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveCreatetm != null">
        #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveOperationtm != null">
        #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveModifytm != null">
        #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    update mk_media_live
    <set>
      <if test="mkMediaLiveAccountid != null">
        mk_media_live_accountId = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveUid != null">
        mk_media_live_uid = #{mkMediaLiveUid,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveName != null">
        mk_media_live_name = #{mkMediaLiveName,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveState != null">
        mk_media_live_state = #{mkMediaLiveState,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveRemark != null">
        mk_media_live_remark = #{mkMediaLiveRemark,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaLiveCreatetm != null">
        mk_media_live_createTM = #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveOperationtm != null">
        mk_media_live_operationTM = #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaLiveModifytm != null">
        mk_media_live_modifyTM = #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkAdvertiserInfoCode != null">
        MK_Advertiser_Info_Code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMediaLive">
    update mk_media_live
    set mk_media_live_accountId = #{mkMediaLiveAccountid,jdbcType=VARCHAR},
      mk_media_live_uid = #{mkMediaLiveUid,jdbcType=VARCHAR},
      mk_media_live_name = #{mkMediaLiveName,jdbcType=VARCHAR},
      mk_media_live_state = #{mkMediaLiveState,jdbcType=VARCHAR},
      mk_media_live_remark = #{mkMediaLiveRemark,jdbcType=VARCHAR},
      MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_media_live_createTM = #{mkMediaLiveCreatetm,jdbcType=TIMESTAMP},
      mk_media_live_operationTM = #{mkMediaLiveOperationtm,jdbcType=TIMESTAMP},
      mk_media_live_modifyTM = #{mkMediaLiveModifytm,jdbcType=TIMESTAMP},
      MK_Advertiser_Info_Code = #{mkAdvertiserInfoCode,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR}
    where mk_media_live_code = #{mkMediaLiveCode,jdbcType=VARCHAR}
  </update>
</mapper>