<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MkMediaAgentDiscountMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    <id column="mk_media_agent_discountNo" jdbcType="VARCHAR" property="mkMediaAgentDiscountno" />
    <result column="MK_media_Info_Code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="MK_Advertiser_Info_CompanyBody" jdbcType="VARCHAR" property="mkAdvertiserInfoCompanybody" />
    <result column="MK_media_agent_Code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_media_agent_discountDate" jdbcType="DATE" property="mkMediaAgentDiscountdate" />
    <result column="mk_media_agent_discountFactor" jdbcType="NUMERIC" property="mkMediaAgentDiscountfactor" />
    <result column="OA_company_Account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_media_agent_CreateTM" jdbcType="TIMESTAMP" property="mkMediaAgentCreatetm" />
    <result column="mk_media_agent_OperationTM" jdbcType="TIMESTAMP" property="mkMediaAgentOperationtm" />
    <result column="mk_media_agent_MODIFYTM" jdbcType="TIMESTAMP" property="mkMediaAgentModifytm" />
    <result column="mk_media_agent_discountLevel" jdbcType="VARCHAR" property="mkMediaAgentDiscountlevel" />
    <result column="mk_media_agent_discountRebateType" jdbcType="VARCHAR" property="mkMediaAgentDiscountrebatetype" />
  </resultMap>
  <sql id="Base_Column_List">
    mk_media_agent_discountNo, MK_media_Info_Code, MK_Advertiser_Info_CompanyBody, MK_media_agent_Code, 
    mk_media_agent_discountDate, mk_media_agent_discountFactor, OA_company_Account_code, 
    mk_media_agent_CreateTM, mk_media_agent_OperationTM, mk_media_agent_MODIFYTM, mk_media_agent_discountLevel, 
    mk_media_agent_discountRebateType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mk_media_agent_discount
    where mk_media_agent_discountNo = #{mkMediaAgentDiscountno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mk_media_agent_discount
    where mk_media_agent_discountNo = #{mkMediaAgentDiscountno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    insert into mk_media_agent_discount (mk_media_agent_discountNo, MK_media_Info_Code, 
      MK_Advertiser_Info_CompanyBody, MK_media_agent_Code, 
      mk_media_agent_discountDate, mk_media_agent_discountFactor, 
      OA_company_Account_code, mk_media_agent_CreateTM, 
      mk_media_agent_OperationTM, mk_media_agent_MODIFYTM, 
      mk_media_agent_discountLevel, mk_media_agent_discountRebateType
      )
    values (#{mkMediaAgentDiscountno,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, 
      #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentDiscountdate,jdbcType=DATE}, #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP}, #{mkMediaAgentModifytm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR}, #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    insert into mk_media_agent_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountno != null">
        mk_media_agent_discountNo,
      </if>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code,
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        MK_Advertiser_Info_CompanyBody,
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code,
      </if>
      <if test="mkMediaAgentDiscountdate != null">
        mk_media_agent_discountDate,
      </if>
      <if test="mkMediaAgentDiscountfactor != null">
        mk_media_agent_discountFactor,
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code,
      </if>
      <if test="mkMediaAgentCreatetm != null">
        mk_media_agent_CreateTM,
      </if>
      <if test="mkMediaAgentOperationtm != null">
        mk_media_agent_OperationTM,
      </if>
      <if test="mkMediaAgentModifytm != null">
        mk_media_agent_MODIFYTM,
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        mk_media_agent_discountLevel,
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        mk_media_agent_discountRebateType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountno != null">
        #{mkMediaAgentDiscountno,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountdate != null">
        #{mkMediaAgentDiscountdate,jdbcType=DATE},
      </if>
      <if test="mkMediaAgentDiscountfactor != null">
        #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCreatetm != null">
        #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentOperationtm != null">
        #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentModifytm != null">
        #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    update mk_media_agent_discount
    <set>
      <if test="mkMediaInfoCode != null">
        MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        MK_Advertiser_Info_CompanyBody = #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountdate != null">
        mk_media_agent_discountDate = #{mkMediaAgentDiscountdate,jdbcType=DATE},
      </if>
      <if test="mkMediaAgentDiscountfactor != null">
        mk_media_agent_discountFactor = #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC},
      </if>
      <if test="oaCompanyAccountCode != null">
        OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCreatetm != null">
        mk_media_agent_CreateTM = #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentOperationtm != null">
        mk_media_agent_OperationTM = #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentModifytm != null">
        mk_media_agent_MODIFYTM = #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        mk_media_agent_discountLevel = #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        mk_media_agent_discountRebateType = #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR},
      </if>
    </set>
    where mk_media_agent_discountNo = #{mkMediaAgentDiscountno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    update mk_media_agent_discount
    set MK_media_Info_Code = #{mkMediaInfoCode,jdbcType=VARCHAR},
      MK_Advertiser_Info_CompanyBody = #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      MK_media_agent_Code = #{mkMediaAgentCode,jdbcType=VARCHAR},
      mk_media_agent_discountDate = #{mkMediaAgentDiscountdate,jdbcType=DATE},
      mk_media_agent_discountFactor = #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC},
      OA_company_Account_code = #{oaCompanyAccountCode,jdbcType=VARCHAR},
      mk_media_agent_CreateTM = #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      mk_media_agent_OperationTM = #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      mk_media_agent_MODIFYTM = #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      mk_media_agent_discountLevel = #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      mk_media_agent_discountRebateType = #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR}
    where mk_media_agent_discountNo = #{mkMediaAgentDiscountno,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    <result column="mk_media_agent_discountno" jdbcType="VARCHAR" property="mkMediaAgentDiscountno" />
    <result column="mk_media_info_code" jdbcType="VARCHAR" property="mkMediaInfoCode" />
    <result column="mk_advertiser_info_companybody" jdbcType="VARCHAR" property="mkAdvertiserInfoCompanybody" />
    <result column="mk_media_agent_code" jdbcType="VARCHAR" property="mkMediaAgentCode" />
    <result column="mk_media_agent_discountdate" jdbcType="DATE" property="mkMediaAgentDiscountdate" />
    <result column="mk_media_agent_discountfactor" jdbcType="NUMERIC" property="mkMediaAgentDiscountfactor" />
    <result column="oa_company_account_code" jdbcType="VARCHAR" property="oaCompanyAccountCode" />
    <result column="mk_media_agent_createtm" jdbcType="TIMESTAMP" property="mkMediaAgentCreatetm" />
    <result column="mk_media_agent_operationtm" jdbcType="TIMESTAMP" property="mkMediaAgentOperationtm" />
    <result column="mk_media_agent_modifytm" jdbcType="TIMESTAMP" property="mkMediaAgentModifytm" />
    <result column="mk_media_agent_discountlevel" jdbcType="VARCHAR" property="mkMediaAgentDiscountlevel" />
    <result column="mk_media_agent_discountrebatetype" jdbcType="VARCHAR" property="mkMediaAgentDiscountrebatetype" />
  </resultMap>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    insert into mk_media_agent_discount (mk_media_agent_discountno, mk_media_info_code, 
      mk_advertiser_info_companybody, mk_media_agent_code, 
      mk_media_agent_discountdate, mk_media_agent_discountfactor, 
      oa_company_account_code, mk_media_agent_createtm, 
      mk_media_agent_operationtm, mk_media_agent_modifytm, 
      mk_media_agent_discountlevel, mk_media_agent_discountrebatetype
      )
    values (#{mkMediaAgentDiscountno,jdbcType=VARCHAR}, #{mkMediaInfoCode,jdbcType=VARCHAR}, 
      #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR}, #{mkMediaAgentCode,jdbcType=VARCHAR}, 
      #{mkMediaAgentDiscountdate,jdbcType=DATE}, #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC}, 
      #{oaCompanyAccountCode,jdbcType=VARCHAR}, #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP}, #{mkMediaAgentModifytm,jdbcType=TIMESTAMP}, 
      #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR}, #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.MkMediaAgentDiscount">
    insert into mk_media_agent_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountno != null">
        mk_media_agent_discountno,
      </if>
      <if test="mkMediaInfoCode != null">
        mk_media_info_code,
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        mk_advertiser_info_companybody,
      </if>
      <if test="mkMediaAgentCode != null">
        mk_media_agent_code,
      </if>
      <if test="mkMediaAgentDiscountdate != null">
        mk_media_agent_discountdate,
      </if>
      <if test="mkMediaAgentDiscountfactor != null">
        mk_media_agent_discountfactor,
      </if>
      <if test="oaCompanyAccountCode != null">
        oa_company_account_code,
      </if>
      <if test="mkMediaAgentCreatetm != null">
        mk_media_agent_createtm,
      </if>
      <if test="mkMediaAgentOperationtm != null">
        mk_media_agent_operationtm,
      </if>
      <if test="mkMediaAgentModifytm != null">
        mk_media_agent_modifytm,
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        mk_media_agent_discountlevel,
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        mk_media_agent_discountrebatetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mkMediaAgentDiscountno != null">
        #{mkMediaAgentDiscountno,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaInfoCode != null">
        #{mkMediaInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="mkAdvertiserInfoCompanybody != null">
        #{mkAdvertiserInfoCompanybody,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCode != null">
        #{mkMediaAgentCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountdate != null">
        #{mkMediaAgentDiscountdate,jdbcType=DATE},
      </if>
      <if test="mkMediaAgentDiscountfactor != null">
        #{mkMediaAgentDiscountfactor,jdbcType=NUMERIC},
      </if>
      <if test="oaCompanyAccountCode != null">
        #{oaCompanyAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentCreatetm != null">
        #{mkMediaAgentCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentOperationtm != null">
        #{mkMediaAgentOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentModifytm != null">
        #{mkMediaAgentModifytm,jdbcType=TIMESTAMP},
      </if>
      <if test="mkMediaAgentDiscountlevel != null">
        #{mkMediaAgentDiscountlevel,jdbcType=VARCHAR},
      </if>
      <if test="mkMediaAgentDiscountrebatetype != null">
        #{mkMediaAgentDiscountrebatetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>