<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OaCompanyPasswordconfigMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.OaCompanyPasswordconfig">
    <id column="OA_company_id" jdbcType="INTEGER" property="oaCompanyId" />
    <result column="OA_company_password_length" jdbcType="INTEGER" property="oaCompanyPasswordLength" />
    <result column="OA_company_character_type" jdbcType="INTEGER" property="oaCompanyCharacterType" />
    <result column="OA_company_account_locked" jdbcType="INTEGER" property="oaCompanyAccountLocked" />
    <result column="OA_company_account_lock_time" jdbcType="INTEGER" property="oaCompanyAccountLockTime" />
    <result column="OA_company_password_validity" jdbcType="INTEGER" property="oaCompanyPasswordValidity" />
    <result column="OA_company_automatically_exits" jdbcType="INTEGER" property="oaCompanyAutomaticallyExits" />
    <result column="OA_company_Account_OperationTM" jdbcType="TIMESTAMP" property="oaCompanyAccountOperationtm" />
    <result column="OA_company_Account_MODIFYTM" jdbcType="TIMESTAMP" property="oaCompanyAccountModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    OA_company_id, OA_company_password_length, OA_company_character_type, OA_company_account_locked, 
    OA_company_account_lock_time, OA_company_password_validity, OA_company_automatically_exits, 
    OA_company_Account_OperationTM, OA_company_Account_MODIFYTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_company_passwordconfig
    where OA_company_id = #{oaCompanyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_company_passwordconfig
    where OA_company_id = #{oaCompanyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.OaCompanyPasswordconfig">
    insert into oa_company_passwordconfig (OA_company_id, OA_company_password_length, 
      OA_company_character_type, OA_company_account_locked, 
      OA_company_account_lock_time, OA_company_password_validity, 
      OA_company_automatically_exits, OA_company_Account_OperationTM, 
      OA_company_Account_MODIFYTM)
    values (#{oaCompanyId,jdbcType=INTEGER}, #{oaCompanyPasswordLength,jdbcType=INTEGER}, 
      #{oaCompanyCharacterType,jdbcType=INTEGER}, #{oaCompanyAccountLocked,jdbcType=INTEGER}, 
      #{oaCompanyAccountLockTime,jdbcType=INTEGER}, #{oaCompanyPasswordValidity,jdbcType=INTEGER}, 
      #{oaCompanyAutomaticallyExits,jdbcType=INTEGER}, #{oaCompanyAccountOperationtm,jdbcType=TIMESTAMP}, 
      #{oaCompanyAccountModifytm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.OaCompanyPasswordconfig">
    insert into oa_company_passwordconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oaCompanyId != null">
        OA_company_id,
      </if>
      <if test="oaCompanyPasswordLength != null">
        OA_company_password_length,
      </if>
      <if test="oaCompanyCharacterType != null">
        OA_company_character_type,
      </if>
      <if test="oaCompanyAccountLocked != null">
        OA_company_account_locked,
      </if>
      <if test="oaCompanyAccountLockTime != null">
        OA_company_account_lock_time,
      </if>
      <if test="oaCompanyPasswordValidity != null">
        OA_company_password_validity,
      </if>
      <if test="oaCompanyAutomaticallyExits != null">
        OA_company_automatically_exits,
      </if>
      <if test="oaCompanyAccountOperationtm != null">
        OA_company_Account_OperationTM,
      </if>
      <if test="oaCompanyAccountModifytm != null">
        OA_company_Account_MODIFYTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oaCompanyId != null">
        #{oaCompanyId,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyPasswordLength != null">
        #{oaCompanyPasswordLength,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyCharacterType != null">
        #{oaCompanyCharacterType,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountLocked != null">
        #{oaCompanyAccountLocked,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountLockTime != null">
        #{oaCompanyAccountLockTime,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyPasswordValidity != null">
        #{oaCompanyPasswordValidity,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAutomaticallyExits != null">
        #{oaCompanyAutomaticallyExits,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountOperationtm != null">
        #{oaCompanyAccountOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="oaCompanyAccountModifytm != null">
        #{oaCompanyAccountModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.OaCompanyPasswordconfig">
    update oa_company_passwordconfig
    <set>
      <if test="oaCompanyPasswordLength != null">
        OA_company_password_length = #{oaCompanyPasswordLength,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyCharacterType != null">
        OA_company_character_type = #{oaCompanyCharacterType,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountLocked != null">
        OA_company_account_locked = #{oaCompanyAccountLocked,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountLockTime != null">
        OA_company_account_lock_time = #{oaCompanyAccountLockTime,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyPasswordValidity != null">
        OA_company_password_validity = #{oaCompanyPasswordValidity,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAutomaticallyExits != null">
        OA_company_automatically_exits = #{oaCompanyAutomaticallyExits,jdbcType=INTEGER},
      </if>
      <if test="oaCompanyAccountOperationtm != null">
        OA_company_Account_OperationTM = #{oaCompanyAccountOperationtm,jdbcType=TIMESTAMP},
      </if>
      <if test="oaCompanyAccountModifytm != null">
        OA_company_Account_MODIFYTM = #{oaCompanyAccountModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OA_company_id = #{oaCompanyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.OaCompanyPasswordconfig">
    update oa_company_passwordconfig
    set OA_company_password_length = #{oaCompanyPasswordLength,jdbcType=INTEGER},
      OA_company_character_type = #{oaCompanyCharacterType,jdbcType=INTEGER},
      OA_company_account_locked = #{oaCompanyAccountLocked,jdbcType=INTEGER},
      OA_company_account_lock_time = #{oaCompanyAccountLockTime,jdbcType=INTEGER},
      OA_company_password_validity = #{oaCompanyPasswordValidity,jdbcType=INTEGER},
      OA_company_automatically_exits = #{oaCompanyAutomaticallyExits,jdbcType=INTEGER},
      OA_company_Account_OperationTM = #{oaCompanyAccountOperationtm,jdbcType=TIMESTAMP},
      OA_company_Account_MODIFYTM = #{oaCompanyAccountModifytm,jdbcType=TIMESTAMP}
    where OA_company_id = #{oaCompanyId,jdbcType=INTEGER}
  </update>
</mapper>