<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WblNoticeInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiangying.saas.data.store.model.WblNoticeInfo">
    <id column="wbl_notice_info_id" jdbcType="VARCHAR" property="wblNoticeInfoId" />
    <result column="wbl_business_info_id" jdbcType="VARCHAR" property="wblBusinessInfoId" />
    <result column="wbl_plan_config_id" jdbcType="VARCHAR" property="wblPlanConfigId" />
    <result column="wbl_business_info_notifyInfo" jdbcType="VARCHAR" property="wblBusinessInfoNotifyinfo" />
    <result column="wbl_business_info_wid" jdbcType="VARCHAR" property="wblBusinessInfoWid" />
    <result column="wbl_notice_info_status" jdbcType="INTEGER" property="wblNoticeInfoStatus" />
    <result column="wbl_notice_info_CreateTM" jdbcType="TIMESTAMP" property="wblNoticeInfoCreatetm" />
    <result column="wbl_notice_info_MODIFYTM" jdbcType="TIMESTAMP" property="wblNoticeInfoModifytm" />
  </resultMap>
  <sql id="Base_Column_List">
    wbl_notice_info_id, wbl_business_info_id, wbl_plan_config_id, wbl_business_info_notifyInfo, 
    wbl_business_info_wid, wbl_notice_info_status, wbl_notice_info_CreateTM, wbl_notice_info_MODIFYTM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wbl_notice_info
    where wbl_notice_info_id = #{wblNoticeInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wbl_notice_info
    where wbl_notice_info_id = #{wblNoticeInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangying.saas.data.store.model.WblNoticeInfo">
    insert into wbl_notice_info (wbl_notice_info_id, wbl_business_info_id, 
      wbl_plan_config_id, wbl_business_info_notifyInfo, 
      wbl_business_info_wid, wbl_notice_info_status, 
      wbl_notice_info_CreateTM, wbl_notice_info_MODIFYTM
      )
    values (#{wblNoticeInfoId,jdbcType=VARCHAR}, #{wblBusinessInfoId,jdbcType=VARCHAR}, 
      #{wblPlanConfigId,jdbcType=VARCHAR}, #{wblBusinessInfoNotifyinfo,jdbcType=VARCHAR}, 
      #{wblBusinessInfoWid,jdbcType=VARCHAR}, #{wblNoticeInfoStatus,jdbcType=INTEGER}, 
      #{wblNoticeInfoCreatetm,jdbcType=TIMESTAMP}, #{wblNoticeInfoModifytm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangying.saas.data.store.model.WblNoticeInfo">
    insert into wbl_notice_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wblNoticeInfoId != null">
        wbl_notice_info_id,
      </if>
      <if test="wblBusinessInfoId != null">
        wbl_business_info_id,
      </if>
      <if test="wblPlanConfigId != null">
        wbl_plan_config_id,
      </if>
      <if test="wblBusinessInfoNotifyinfo != null">
        wbl_business_info_notifyInfo,
      </if>
      <if test="wblBusinessInfoWid != null">
        wbl_business_info_wid,
      </if>
      <if test="wblNoticeInfoStatus != null">
        wbl_notice_info_status,
      </if>
      <if test="wblNoticeInfoCreatetm != null">
        wbl_notice_info_CreateTM,
      </if>
      <if test="wblNoticeInfoModifytm != null">
        wbl_notice_info_MODIFYTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wblNoticeInfoId != null">
        #{wblNoticeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="wblBusinessInfoId != null">
        #{wblBusinessInfoId,jdbcType=VARCHAR},
      </if>
      <if test="wblPlanConfigId != null">
        #{wblPlanConfigId,jdbcType=VARCHAR},
      </if>
      <if test="wblBusinessInfoNotifyinfo != null">
        #{wblBusinessInfoNotifyinfo,jdbcType=VARCHAR},
      </if>
      <if test="wblBusinessInfoWid != null">
        #{wblBusinessInfoWid,jdbcType=VARCHAR},
      </if>
      <if test="wblNoticeInfoStatus != null">
        #{wblNoticeInfoStatus,jdbcType=INTEGER},
      </if>
      <if test="wblNoticeInfoCreatetm != null">
        #{wblNoticeInfoCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="wblNoticeInfoModifytm != null">
        #{wblNoticeInfoModifytm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangying.saas.data.store.model.WblNoticeInfo">
    update wbl_notice_info
    <set>
      <if test="wblBusinessInfoId != null">
        wbl_business_info_id = #{wblBusinessInfoId,jdbcType=VARCHAR},
      </if>
      <if test="wblPlanConfigId != null">
        wbl_plan_config_id = #{wblPlanConfigId,jdbcType=VARCHAR},
      </if>
      <if test="wblBusinessInfoNotifyinfo != null">
        wbl_business_info_notifyInfo = #{wblBusinessInfoNotifyinfo,jdbcType=VARCHAR},
      </if>
      <if test="wblBusinessInfoWid != null">
        wbl_business_info_wid = #{wblBusinessInfoWid,jdbcType=VARCHAR},
      </if>
      <if test="wblNoticeInfoStatus != null">
        wbl_notice_info_status = #{wblNoticeInfoStatus,jdbcType=INTEGER},
      </if>
      <if test="wblNoticeInfoCreatetm != null">
        wbl_notice_info_CreateTM = #{wblNoticeInfoCreatetm,jdbcType=TIMESTAMP},
      </if>
      <if test="wblNoticeInfoModifytm != null">
        wbl_notice_info_MODIFYTM = #{wblNoticeInfoModifytm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wbl_notice_info_id = #{wblNoticeInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangying.saas.data.store.model.WblNoticeInfo">
    update wbl_notice_info
    set wbl_business_info_id = #{wblBusinessInfoId,jdbcType=VARCHAR},
      wbl_plan_config_id = #{wblPlanConfigId,jdbcType=VARCHAR},
      wbl_business_info_notifyInfo = #{wblBusinessInfoNotifyinfo,jdbcType=VARCHAR},
      wbl_business_info_wid = #{wblBusinessInfoWid,jdbcType=VARCHAR},
      wbl_notice_info_status = #{wblNoticeInfoStatus,jdbcType=INTEGER},
      wbl_notice_info_CreateTM = #{wblNoticeInfoCreatetm,jdbcType=TIMESTAMP},
      wbl_notice_info_MODIFYTM = #{wblNoticeInfoModifytm,jdbcType=TIMESTAMP}
    where wbl_notice_info_id = #{wblNoticeInfoId,jdbcType=VARCHAR}
  </update>
</mapper>